[2017-08-31 11:32] jkleiser opened #1 "Example reading lines from big text file"
It could be interesting to see an example on how to do efficient text file reads using Free IO and Conveyor, if line-by-line reading is something that Free IO and Conveyor can do efficiently.
I'm am not an expert on functional techniques, but I'd like to learn more about it, and I like Dart.

[2017-08-31 19:33] spebbe commented on #1
Hi! I'll try to include a more complex example of file processing in a release soon. For now, the streaming IO example (https://github.com/spebbe/dartz/blob/master/example/streaming_io/example.dart) shows the basics.

Also, please be aware that Conveyor is highly experimental. While it can definitely be used for many real world tasks, it is currently not fully stack safe in all situations. As for

[2017-09-18 17:19] spebbe commented on #1
I've added a new streaming IO example https://github.com/spebbe/dartz/blob/master/example/streaming_io/example2.dart to the repo. While the actual example doesn't read any big files, the techniques should work equally well for arbitrarily large files. The example does however demonstrate the testability of Free IO, which at least in my mind is superior compared to Dart Streams. Hope it helps!

[2017-09-18 17:19] #1 closed

[2018-03-18 03:55] rich-j opened #2 "Dart 2.x strong mode causes IList Nil to throw a runtime CastError"
I'm a Scala developer who's starting to use Dart and am excited to see your dartz library. I'm living on the bleeding edge and using Dart 2.0.0-dev.39.0. Option and Either work but when I try to use IList I get a runtime CastError. For example, this code from you test suite `final l1 = ilist([1,2,3,4]);` compiles okay but throws the following error when compiled for Dart Angular with DDC and runni

[2018-03-18 18:14] spebbe commented on #2
Hi! Glad to hear that you're excited!

At the moment, the Dart 2 eco system is... interesting, with dartz running fine in the analyzer, vm and dart2js, but not under DDC - the new incremental js compiler. As far as I know, DDC is the only part of the tool chain that currently implements the runtime parts of the new type system and it is still very wobbly, unbreaking old things and breaking new thi

[2018-03-19 18:41] rich-j commented on #2
Thanks for the fast response. I am able to use your ddc_compat branch to get past the runtime error. Here's the `pubspec.yaml` dependency I used:

    dartz:
      git:
        url: https://github.com/spebbe/dartz
        ref: ddc_compat

I agree that the current Dart 2.X eco system is challenging. This dartz dependency override was straightforward. However, I encountered other dependency issues b

[2018-03-20 20:52] spebbe commented on #2
Really cool! -- I haven't tried AngularDart much, but it's great to see that it's possible to integrate with! I can recommend using dartz together with uix (https://pub.dartlang.org/packages/uix), where fully immutable state stores, Free monad interpreters and streams combine into a really nice and efficient React+Redux-like environment, but with composable actions and much better type safety.

Re

[2018-03-21 22:21] rich-j commented on #2
We're porting an application written in Typescript/Angular to Dart/Angular so we can build the mobile app with Dart/Flutter. We have a fair amount of client-side code so Dart will finally let us run "natively" on iOS/Android/Web.

I'll take a look at uix although probably mostly for inspiration.  Our architecture is already Redux-like with changes applied to an immutable data layer (with server sy

[2018-03-22 18:17] RPallas92 opened #3 "Monad transformers"
First of all, thanks for such extensive library.
Usually it’s helpful to use a Reader<Future<Either>> monad stack to:
- inject dependencies
- perform asynchronous operations
- and return either a result or an error

Is it possible to achieve this in dartz?

[2018-03-22 18:47] josete89 commented on #3
+1

[2018-03-22 19:56] spebbe commented on #3
Hi!

There is no Reader or ReaderT/Kleisli in dartz yet... However, there is `Evaluation<E,R,W,S,A>`, which corresponds roughly to the mega stack `Future<Either<E, Reader<R, A> + Writer<W, A> + State<S, A>>>`, which is what I often find myself with after stacking transformers in scala. Since this is a hard coded stack, you cannot alter the layering of monadic effects without copy-pasting, but mayb

[2018-03-23 17:41] rich-j opened #4 "IList<Option<Tuple2<K,V>>> to IHashMap<K,V>"
I need to convert an `IList<Option<Tuple2<K,V>>>` to a `IHashMap<K,V>`. In Scala I would use `Seq(Some("a"->1),None).flatten.toMap`. In dartz the `.flatten()` returns runtime error:

    CastError: Casting value of type 'Some<Tuple2<Stri…, String>>' to type 'IList' which is incompatible

This could be failing because I'm using DDC [Issue #2](https://github.com/spebbe/dartz/issues/2).

For the `.to

[2018-04-03 16:02] #3 closed

[2018-04-15 12:40] spebbe commented on #4
Added IMap#fromPairs, IHashMap#fromPairs, IList#flattenIList, IList#flattenOption, IVector#flattenIVector and IVector#flattenOption in 0.7.5 + rebased ddc_compat branch.

[2018-04-15 12:40] #4 closed

[2018-04-15 13:08] gedw99 commented on #2
I was thinking about trying this for flutter also. Did you get a working implementation yet ??
Really cool lib btw !!!

[2018-04-19 04:08] rich-j opened #5 "IList sort for Dart 2 strong mode issues"
I'm encountering 2 issues when sorting an `IList` in Dart 2 running in strong mode on DDC.

The first issue is a runtime `CastError` on the `IList`  `partition` function which is called by the `sort` function:

    CastError: Casting value of type 'Tuple2<IList, IList>' to type 'Tuple2<IList<Person>, IList<Person>>' which is incompatible in strong mode

I was able to get it to work by overriding y

[2018-05-10 16:29] rich-j opened #6 "IMap<_,IList<_>> equals"
Should equivalent `IMap`s be equal?

    test('IMap with IList values equals', () {
      var m1 = new IMap.fromIterables([0,1], [new IList.from([2,4]), new IList.from([1,3,5])], new ComparableOrder<int>() );
      var m2 = new IMap.fromIterables([0,1], [new IList.from([2,4]), new IList.from([1,3,5])], new ComparableOrder<int>() );
      expect(m1, m1, reason: "same");
      expect(m1.keys(), m2.k

[2018-05-11 10:30] spebbe commented on #6
Hi -- thanks for reporting!
Yep, I think they should! Defining equivalence is the problem here :-)

IMap '==' (universal) equality is defined by '==' equality of the sequence generated by in-order traversal of the key value pairs AND '==' equality of the contained Order instance. For example, two empty IMap<Int, String> instances are currently not considered equal if the first instance was instant

[2018-05-11 10:32] #6 closed

[2018-05-11 11:13] spebbe commented on #5
Sorry about the long wait -- I missed this one for some reason.

Thanks for reporting! For now, I've pushed a workaround for IList sort that is very similar to yours on the ddc_compat branch. I'd be happy to give you more explicit credit if you want. I'm still hoping to find some way of expressing this in a less repetitious way once Dart 2 has stabilized.

Regarding variance in Dart: Generics are

[2018-05-11 11:29] spebbe commented on #2
Thanks @gedw99!
The ddc_compat branch (see comment from @rich-j for usage) is still the closest thing to a working implementation there is. Basic things seem to work for now, but new dev versions of DDC change semantics so much that I don't dare commit to a strategy until things have stabilized.

In the end, I think that the stand alone type class instances (OptionM, etc.), as they are implemented

[2018-05-11 16:47] rich-j commented on #6
Of course...  I was so fixated on data equality that I missed the meta equality of `Order`. I was writing a quick test for a "simple" utility function and flummoxed by my test failing. Equality of `Order` is either a trivial identical check or a intractable comparison of implementation. Now that I have learned the lesson of `Order` equality I'm good with that meaning identical. The fix is probably

[2018-05-11 22:18] rich-j commented on #6
Here's an excerpt of the code under test:

    /// Partition an IList into a set of groups with membership defined by a function result
    IMap<G, IList<A>> ilistGroupBy<A, G extends Comparable>(IList<A> l, G Function(A) f) =>
      l.foldLeft<IMap<G, IList<A>>>( emptyMap(), (acc, a) {
        var group = f(a);
        return acc.put( group, acc.get(group).fold( ()=>new IList.from([a]), (p)=>p.pr

[2018-05-15 16:17] #5 closed

[2018-05-15 16:34] rich-j commented on #5
Thanks for publishing a fix. The credit is all yours. I included my fix mostly for completeness of describing the problem. I know that you are in a tough position waiting for Dart 2 to stabilize.

The secondary issues of specifying sort order I handled by creating a set of singleton ordering objects. The information you provided in your answer to issue #6 suggests that ordering singletons are good

[2018-06-30 23:40] rich-j commented on #2
Upgrading to `Dart VM version: 2.0.0-dev.66.0 (Fri Jun 29 11:19:05 2018 +0200) on "macos_x64"` now causes failures when running unit tests under the VM (Google recently made Dart 2.0 the default for the VM).

We are using your `ddc_compat` branch and still run fine under DDC. Here are the errors that now cause all unit tests to fail when run in the VM:

    Unable to spawn isolate: file:///Users/r

[2018-07-03 03:43] rich-j opened #7 "Dart 2.0 compatible release?"
Google has just released [Flutter Release Preview 1](https://medium.com/flutter-io/flutter-release-preview-1-943a9b6ee65a?linkId=53249457) and [Dart Angular 5.0.0-beta](https://github.com/dart-lang/angular/releases) (i.e. release candidate). They have the milestone for [Dart2Stable](https://github.com/dart-lang/sdk/milestone/12) as "Due by July 10, 2018".

Any timeframe for a Dart 2.0 compatible r

[2018-07-03 17:16] spebbe commented on #7
Hi @rich-j!

I've pushed some really strange workarounds on `ddc_compat` (although not really related to DDC), that hopefully get your tests to run again. I would be very interested in hearing if it works for you.

I don't fully understand neither the original error nor the fix :-) The change that fixes the errors you are seeing consists of explicitly adding the mixin `PlusOps<F, A>` to classes th

[2018-07-04 17:05] spebbe commented on #7
Good to hear -- thanks for reporting!

The issue you linked to definitely smells like it could be related -- thanks!

 I'll try adding a couple of "type frozen" `traverseXYZ` and `sequenceXYZ` and see how it turns out! It should add some sorely missing type safety, so maybe it will all be for the best in the end.

[2018-07-04 17:05] #7 closed

[2018-07-17 17:14] rich-j opened #8 "Dart 2.0.0-dev.69.0 has more VM runtime problems similar to #7"
Upgrading to `Dart VM version: 2.0.0-dev.69.0 (Tue Jul 17 14:57:16 2018 +0200) on "macos_x64"` now causes failures when running unit tests under the VM. This seems similar to https://github.com/spebbe/dartz/issues/7. Using your `ddc_compat` branch and still run fine under DDC. Here are the load errors that now cause all unit tests to fail when run in the VM:

    Unable to spawn isolate: file:///U

[2018-07-23 19:22] spebbe commented on #8
Hi and thanks for reporting!

They are really tightening the noose on me now :-)

I've pushed a change on `ddc_compat` where all the previously overridden mapX/liftX operations are moved from the Applicative instance for a type to static methods on the type itself. For example, `OptionMP.map2(some(1), some(2), (int a, int b) => a+b)` is now `Option.map2(some(1), some(2), (int a, int b) => a+b)`.

[2018-07-24 05:30] rich-j commented on #8
Thanks - our unit tests are running again in the VM. Also I was able to change some ugly code over to using `traverseX` operations. Too bad they need to be specialized - I guess it's progress...

Google is in clean up mode since Dart 2 stable is "happening very soon". You may have already seen this: [Getting ready for Dart 2, and making your packages look great on the Pub site!](https://medium.com

[2018-07-24 09:10] #8 closed

[2018-08-02 16:44] rich-j opened #9 "Provide const constructors for "empty" - e.g. Option none and IList nil"
I would like to add default values to optional function parameters such as:

    void process([Option<X> param = none()]) { ... }

This results in the error `Default values of an optional parameter must be constant.`

Enhancement request - add  "const constructors" to dartz for simple "empty" values such as `Option` `none` and `IList` `nil`.

My current error prone workaround is to leave the defau

[2018-08-02 16:50] rich-j commented on #9
I tried adding "const constructors" to dartz such as described by Stack Overflow issue [How to write abstract class constructors so that it will be flexible for extending in sub classes](https://stackoverflow.com/questions/26698982/how-to-write-abstract-class-constructors-so-that-it-will-be-flexible-for-extendi) but quickly ran into issues with mixins https://github.com/dart-lang/sdk/issues/29395

[2018-08-06 10:14] spebbe commented on #9
Good suggestion -- I've been wanting this as well, but haven't been able to get it to work under strong mode either. However, with the existing fake higher-kinded mixins being close to useless under Dart 2, I was thinking of killing them off anyway. This might get rid of the problem and allow const constructors for some of the types. I'm currently on vacation, but will have a look soon!

[2018-08-19 14:37] spebbe commented on #2
Hi @rich-j and @gedw99!

After a short eternity, I've now released version 0.8.0, which is supposed to be some kind of bridge release, with full Dart 1 support, some Dart 2 support and as few breaking changes as possible. It is more or less equivalent to the current state of the `ddc_compat` branch, but with a resuscitated test suite, some cleanups and a versioned release on pub.dartlang.org.

Sta

[2018-08-19 14:37] #2 closed

[2018-10-09 17:40] rich-j opened #10 "Convenience methods on Either: isRight, isLeft, swap"
It would be convenient for `Either` to have `bool isRight()`, `bool isLeft()` and `Either<R,L> swap()` methods. The `fold` method is sufficient, but it doesn't read as well in some usages. Scala and scalaz both have these methods and I miss them in dartz. Thanks.

[2018-10-10 17:58] spebbe commented on #10
Good point -- added in 0.8.2!

[2018-10-10 17:58] #10 closed

[2019-03-27 18:40] modulovalue commented on #9
@spebbe did you get a chance to look into it?

[2019-03-27 22:48] rich-j opened #11 "Convenience methods on Set: filter, partition, map"
Another convenience request - this time for `Set`:

    ISet<A> filter(bool predicate(A a))

    Tuple2<ISet<A>, ISet<A>> partition(bool f(A a))

Yes, these are easy `foldLeft`s but I need to provide the new empty `Set`'s `Order` which the underlying implementation already knows (and I need to `import`).

I also had a case where I wanted to `map`:

    ISet<B> map<B>(B f(A a))

but this would have

[2019-03-28 08:42] spebbe commented on #9
@modulovalue, i've been trying out a couple of solutions to this but got stuck deciding which path to follow. If I push a branch with my current favourite solution, would you, @rich-j and/or anyone else be willing to try it out and see if it looks ok to you?

One problem is that 'const' + type reification behaves strangely in certain situations, but it might be possible to work around or just lear

[2019-03-28 08:54] spebbe commented on #11
Hi! 'filter' and 'partition' look like good additions -- i'll add them in the next release!

'map' is missing more or less for the reason you gave above. 'map' is so closely associated with the Functor type class and its associated laws. The signature and implementation of 'map' for ISet wouldn't fit that definition very well.
Even so, it would be a useful operation -- would `ISet<B> transform<B>(

[2019-03-28 18:15] rich-j commented on #11
I like the `transform` operation - yes, `map` is such a fundamental operation that trying to force it with a "non standard" API just doesn't feel right. I think you're doing a good job balancing between theory and practical implementation given Dart 2.x type system limitations.

[2019-03-28 18:22] rich-j commented on #9
I'm up for trying out your implementation. Though I admit that we've been trained to not push the Dart type system very hard - probably because the compiler always wins ;-)

[2019-03-28 19:56] spebbe commented on #9
@rich-j, @modulovalue Cool! I've pushed the branch `0_9_0_wip_2`, with some const support for IList, Option, Unit and some other types. There are plenty of other changes, including a couple of removals (mainly monad transformers) and a few things that aren't backwards compatible... Also, Conveyor kind of works on Dart 2 now! It _is_ a work in progress though, so beware of bugs and/or incomplete fu

[2019-04-02 19:04] rich-j commented on #9
Branch `0_9_0_wip_2` so far shows no issues with our code or tests. Plus we can now specify default values - yea!

    void process([Option<X> param = const None()]) { ... }

One dart aspect that threw me was the need to specify the default value with a `const` keyword. Shouldn't dart know that it's `const`?  It took me a little digging to find [DON’T use const redundantly](https://www.dartlang.or

[2019-04-03 21:03] spebbe commented on #9
That's great @rich-j -- thanks for trying it out!
I'll try to fill in the blanks so that this can be released properly, but it might be a couple of weeks away.

BTW, I tried declaring `none()` like `Option<A> none<A>() => const None();` and it actually type checks! However, the return value will always have a runtime reified type of `Option<Null>` and then all hell breaks loose on DDC and friends.

[2019-04-25 17:04] spebbe commented on #11
Hi! I just released 0.8.4 with filter, where, partition and transform added to ISet. Also added to the 0_9_0_wip_2 branch through rebase + force push.

[2019-04-25 17:04] #11 closed

[2019-06-04 13:35] modulovalue opened #12 "'Covariance of type variables used in super-interfaces is now enforced'"
Bad news: [CHANGELOG](https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md)

Leads to:

[code]

[2019-06-04 18:52] spebbe commented on #12
Awww, man...

Thanks for reporting and for your patch! I tried another method, as well. Killing `EndoMonoid` and redefining `EndoMi` `endoMi` in terms of `_AnonymousMonoid` seems to fix things with fewer changes and without having to box endomorphisms:
[code]

Thoughts?

[2019-06-04 19:05] modulovalue commented on #12
That's definitely better than my naive fix and thanks for the quick response!

[2019-06-04 19:05] #12 closed

[2019-06-04 19:17] spebbe commented on #12
Great! I'll commit and publish a release soon!

[2019-06-13 21:17] CatherineThompson opened #16 "Compile Error on Dart 2.3.3"
I'm getting the following compiler message when trying to use dartz Options in a flutter project. It' on Dart 2.3.3.

[code]

[2019-06-14 05:51] spebbe commented on #16
Hi and thanks for reporting!

This looks like identical of https://github.com/spebbe/dartz/issues/12, which was closed a bit prematurely. A solution exists, but hasn't been released yet. I'll make a fix release soon and will keep this issue open until then.

[2019-06-17 17:15] spebbe commented on #16
Released in 0.8.5 from master and rebased onto 0_9_0_wip_2

[2019-06-17 17:15] #16 closed

[2019-06-17 17:15] spebbe commented on #12
Released in 0.8.5 from master and rebased onto 0_9_0_wip_2

[2019-06-22 22:25] modulovalue opened #17 "IList.option"
I couldn't find a mapping from IList to Option where
The empty list is a `None`
and the non-empty list is a `Some` containing that list.

This would really be useful in flutter where one might want to show an alternative Widget for an empty list and map a non-empty list to a ListView.

Example
[code]

Do you think this would fit IList?

[2019-06-26 07:45] spebbe commented on #17
Thanks -- looks useful! In the spirit of your previous PR, maybe this is also a good time to safely expose head and tail on `Cons` combined with a method `Option<Cons<A>> asCons()` on `IList`? I'll make a PR and get back to you.

[2019-07-08 14:15] xsobolx opened #18 "Compile error on Dart 2.4.0"
I've got this compiler message:

...pub-cache/hosted/pub.dartlang.org/dartz-0.8.5/lib/src/io.dart:69:7: Error: Class 'FreeMonad<IOOp> with MonadCatch<Free<IOOp, dynamic>>' inherits multiple members named 'bind' with incompatible signatures.
Try adding a declaration of 'bind' to 'FreeMonad<IOOp> with MonadCatch<Free<IOOp, dynamic>>'.
class IOMonad extends FreeMonad<IOOp> with MonadCatch<Free<IOOp,

[2019-07-08 17:09] spebbe commented on #18
Thanks for reporting -- will have a look!

[2019-07-17 19:08] rich-j commented on #17
The above `toOption` would be useful. Also a simple `isEmpty` would be useful too. Today to check for an empty list I use `myIList.headOption.isNone()`.

[2019-07-22 12:49] spebbe commented on #17
@modulovalue, @rich-j: sorry for slow response -- on vacation.
Please have a look at PR #21 and see if it looks ok!
@rich-j : I didn't add `isEmpty` in this PR. I tend to do `myIList == nil()`, possibly with a cached instance of `nil()`, but I'd be happy to add `isEmpty` separately if you still want it.

[2019-07-22 12:59] spebbe commented on #18
@xsobolx: thanks for waiting. on vacation, but have now added a solution in PR #22.
I'll merge it and make a new release if no one is opposed.

@modulovalue, thanks for your solution! I've commented on your PR.

[2019-07-23 02:06] #17 closed

[2019-07-24 22:16] rich-j opened #23 "Add "isEmpty" to collections - e.g. IList, ISet"
We would like to have a straight-forward way to evaluate collections for "empty". Today we use constructs such as `myIList.headOption.isNone()` and `myISet.all((_)=>false)`. It would be nice to use something like `myIList.isEmpty` and `myISet.isEmpty`.

In https://github.com/spebbe/dartz/issues/17#issuecomment-513777240 you propose `myIList == nil()` - but that construct doesn't work well for `ISe

[2019-07-25 19:30] xsobolx commented on #18
That's good news! Thank you!

[2019-08-09 19:35] rich-j commented on #18
Could use this in branch `0_9_0_wip_2` too.

Flutter beta channel just updated to v1.8.3 which uses Dart 2.5.0. I forked and merged your PR #22 - it works.

[2019-08-17 21:16] rlavolee opened #24 "Task and Future"
Hi spebbe,

In the first place, I want to thank you to bring functional programing to Dart.
However I have a question related to `Task` and `Future`. If you got time to take a look at my problem I will be thankfull.

I am running this code with no success and I don't have any clue left.

[code]

As I understand  in this case Task takes a `Function0 Future<Response>` as a parameter and map the `htt

[2019-08-19 09:15] spebbe commented on #24
Hi!

That should work...

My first guess is that `this.httpClient.get(someUrl)` throws an exception that is being ignored after it is rethrown by `Task#run`. Task just delays execution of Future and puts a monadic interface on top -- it doesn't encapsulate exceptions any more than Future already does.

Does that sound like a possible explanation? If not, try replacing `this.httpClient.get(someUrl)

[2019-08-19 20:18] rlavolee commented on #24
Thank you very much for your reply !

Your suggestion is a good idea. I tried it.

[code]

However the task didn't seem to be fired. Even good old fashion `print` didn't print anything. So I tried a simple `Task.delay`.

[code]

And everything was fine.
So it seems only behaved oddly with `Future` in `Task` constructor.
What do you think ? (BTW I'm using dartz for a flutter app.)

[2019-08-20 16:57] spebbe commented on #23
Hi! Sorry for the long wait -- I'm back in the real world now!
I've added isEmpty to AVLTree, IList, IMap, ISet and IVector and released as 0.8.6 from master + rebased into 0_9_0_wip_2. I'm hopeful that I'll be able to get rid of that  long lived branch and release a proper 0.9.0 soon.

[2019-08-20 16:57] #23 closed

[2019-08-20 17:00] spebbe commented on #18
@xsobolx, @rich-j -- Sorry for the radio silence -- been on vacay!
This has now been released as 0.8.6 and also rebased onto `0_9_0_wip_2`.

[2019-08-20 17:00] #18 closed

[2019-08-20 17:01] spebbe commented on #17
Sorry, took a bit of time to get out, but this is now released as 0.8.6 + rebased onto `0_9_0_wip_2`!

[2019-08-20 17:02] spebbe commented on #24
Really odd... I'll try to reproduce and get back to you.

[2019-08-20 20:08] rlavolee commented on #24
I quickly wrote this test and it passed...

[code]

[2019-08-22 11:44] rlavolee commented on #24
Hi spebbe, I think I finally located the problem.
For some reason, in Flutter the `map` function is not triggered. I replaced `map` with `bind` and it worked. I guess this is because `Task` is run directly with `bind`.

¯\\_(ツ)_/¯

[2019-08-22 16:22] spebbe commented on #24
@rlavolee I tried this on flutter 1.7.8+hotfix.4 and dartz 0.8.6:
[code]
For me, it prints the expected `Some(42)`... no idea why it misbehaves for you?

[2019-08-23 11:45] rlavolee commented on #24
This case also works for me and the following

[code]

However not this one. 🤔

[code]

[2019-08-28 16:28] rlavolee commented on #24
Hi spebbe,

I removed the type annotation and it finally works.
Thanks for your help.

[2019-08-28 16:28] spebbe commented on #24
OK, here's what I think happens... The `Task#map` operation on the 0.8.x series (=master) isn't Dart 2 clean yet, causing runtime type checks to fail in the second of your examples. In the first example, the type checks succeed because type information is lost -- the type of `t` is inferred as `Task<dynamic>` 😩

This is already fixed on the infamous `0_9_0_wip_2` branch, but I'll backport the fix

[2019-08-28 16:30] spebbe commented on #24
Reopening because this really is a bug on Dart 2. Thanks for the help in narrowing it down!

[2019-09-02 11:10] rlavolee commented on #24
Hi @spebbe ! Can I help in a way ?

[2019-09-02 17:48] spebbe commented on #24
@rlavolee, I've backported the fixes to `Task` from the 0.9.x branch to master and released a new version 0.8.7, which should resolve the problems you were seeing as well as give you better type inference.
I'm closing this issue for now, but please reopen if you are still having problems!

[2019-09-02 17:48] #24 closed

[2019-11-06 17:42] modulovalue commented on #9
@spebbe could you publish a version of dartz that contains the const updates on pub.dev? or maybe at least 0.9.0wip as a [prerelease](https://dart.dev/tools/pub/publishing#publishing-prereleases)?

[2019-11-07 08:20] spebbe commented on #9
@modulovalue, Yes! I don't know why I haven't done that earlier -- i'll publish tonight.

[2019-11-08 11:01] spebbe commented on #9
Published 0.9.0-dev.1

[2019-11-27 14:02] modulovalue opened #29 "MonadLenses"
Hey @spebbe,

1) Do you think there's a way, with the current hierarchy or even at all in Dart (especially now with static extension methods), for a MonadLens to exist that could become the superclass of OptionLens/EitherLens and other monads?

2) Have you ever thought about having 'Left/Right Monad lenses'. e.g. an OptionLens where the getter always results in a value and the setter might not and

[2019-11-28 09:07] spebbe commented on #29
Hi @modulovalue!

1.
I did try to abstract a bit when I originally added OptionLens and EitherLens, but I think my attempt just grew into a hairy ball of casts and hidden assumptions that weren't reflected in the types. It is possible to get to work, but just like with MonadTrans (higher-kinded type parameterized on other higher-kinded types...), I felt that it got intolerably messy and inexact.

[2019-11-28 11:49] modulovalue commented on #29
I barely have any experience with real FP languages. dartz is the reason why I got into FP in the first place and I still have to build up my FP toolset to draw from. I'm learning everything as I go when I feel that I'm missing an abstraction. Monocle sound promising, I'll have to take a look.

It's a WIP, but I think I found a good use for them to connect the concept of Signals from FRP with lens

[2019-11-28 11:49] #29 closed

[2019-11-28 16:00] IgnacioCentola opened #30 "NoSuchMethodError: The method 'fold' was called on null."
When running a simple unit test, I´m getting the error mentioned on the title with the following log:

Receiver: null
Tried calling: fold<int>(0, Closure: (int, dynamic) => int)
dart:core                                                                               Object.noSuchMethod
package:equatable/src/equatable_utils.dart 4:19                                         mapPropsToHashCode
package

[2019-11-28 16:23] spebbe commented on #30
Have you tried implementing `props` on `NumberTrivia` like the TODO says? I don't think this is related to `Either#fold` -- looks more like the built in `List#fold` which Equatable is trying to call on the null `List` you return.

[2019-11-28 17:37] IgnacioCentola commented on #30
@spebbe You are right, thanks! I failed to read the `Equatable` docs properly, lesson learned

[2019-11-28 17:37] #30 closed

[2019-11-28 17:41] Kiruel opened #31 "Flutter Web Target dart2js failed"
Hi,
I try to use dartz for flutter web with this command:
`flutter run -d chrome --release -t lib/main_dev.dart -v`

But I get this error:

[code]

When I compile for Android or iOS there are no error only for web, can you help me on that ?

### Flutter doctor
[code]

### Dartz version
`dartz: ^0.8.9`

[2019-11-28 18:35] spebbe commented on #31
Not trying to be rude, but nothing in the stack trace hints at this being related to dartz -- how did you come to that conclusion? It clearly states that `Token` and `Failure` have conflicting definitions, probably because you are mixing package relative and file relative imports.

[2019-11-29 09:27] Kiruel commented on #31
Ok you are right nothing from dartz its from dart2js, when I use `package:app/features/auth/domain/entities/token.dart` it make this error so I change for local path like this for example `../entities/token.dart`.

[2019-11-29 09:27] #31 closed

[2019-11-29 09:58] spebbe commented on #31
Great -- glad that it worked out!

[2019-11-30 01:37] modulovalue opened #32 "Type defunctionalization to simulate higher kinded types"
Hey @spebbe,

Have you heard of type defunctionalization?

[type defunctionalization](https://www.cl.cam.ac.uk/~jdy22/papers/lightweight-higher-kinded-polymorphism.pdf)

Defunctionalization transforms a program with higher-order values into a program where all values are first-order. Similarly, we can change a program with
higher-kinded type expressions into a program where all type expressions ar

[2019-12-01 16:15] spebbe commented on #32
Hi @modulovalue!

Thanks for the reference material! I've seen Bow before and I've also looked at how they encode HKTs in Arrow (Kotlin), which I think is essentially the same pattern.
Since it was possible to cheat your way out of the whole problem in Dart 1, I never implemented it then, but maybe it would be a way to get back some of the abstraction possibilities that have been removed for 0.9?

[2020-01-23 08:07] harishrathi opened #33 "exception in function is not caught in attempt"
I have all my API calls returning Either<ApiException, Result> e.g.

[code]

But if exception is thrown inside a function, like below

[code]

Then `attempt()` should catch them as `ApiException`. Currently it gives error `type 'Future<Either<ApiException, dynamic>>' is not a subtype of type 'FutureOr<Either<ApiException,
SendOtpDto>>`

This is how I am calling the API

[code]

[2020-01-23 12:14] mateusfccp commented on #33
I couldn't test your code because you didn't give a [minimal reproducible example](https://en.wikipedia.org/wiki/Minimal_working_example).

However, I got similar error sometimes when Dart couldn't infer the type. This may be the case, as pointed by the _dynamic_ in the error.

Try passing the type explicitily to `.attempt<T>`.

[2020-01-24 08:06] harishrathi commented on #33
That helped. Closing the issue.

[2020-01-24 08:06] #33 closed

[2020-01-24 10:23] spebbe commented on #33
Great! Thanks for helping, @mateusfccp!

[2020-02-06 15:19] don-prog opened #34 "Use Either with then() and catchError()"
I want to use `Either` in this way:
[code]
But it seems that I can't do this:

I necessarily need to use explicit type casting, like this:

[code]

even if I already return `Left(Failure())` in the `catchError()`.
So, is explicit casting the most concise and elegant solution?

[2020-02-06 15:46] torbenkeller commented on #34
You just forgot to type Right and Left. Try this:

`Either<Failure, MyResponse> result = await restClient.request() // Future<MyResponse> request();
    .then((response) => Right<Failure, MyResponse>(response))
    .catchError((failure) => Left<Failure, MyResponse>(Failure()));
`

[2020-02-06 16:21] don-prog commented on #34
@torbenkeller thanks!

[2020-02-07 15:27] heralight opened #35 "await async and functional programming"
Hi!
In first, I'm impressed by your work!
Now, I tried to use it in flutter, I was quickly block by asynchronous call problem, (await, async, then ...etc).
Have you some advice or sample about this subject please?

Best regards,

Alexandre

[2020-02-08 10:53] mateusfccp commented on #35
Hello, @heralight.

Actually, Future, conceptually, is a monad (considering that you are not using side-effects, of course). It' all about functional programming, although the concept has been imported to procedural programming and OO as well (with `async` and `await`, for example).

Considering so, there's no kind of incompatibility between `dartz` and `Future`, although in functional style you w

[2020-02-08 15:32] spebbe commented on #35
Hi @heralight!

Thanks for your support – I'm glad you like it!

Like @mateusfccp, I'm a bit unsure what exact answers you are looking for, but I'm going to take a guess that you would find `traverseFuture` useful!
`traverseFuture`, which is just a special case of the unbelievably useful `traverse` function, is defined on all `Traversable` structures in `dartz` (where I've remembered to add them,

[2020-02-10 11:21] mateusfccp opened #36 "Provide in-code documentation"
I love this package and use it wherever I can, as I love functional programming. The only thing that bothers me a little is the lack of documentation.

Would'nt it be a nice idea to document the code? I know it's a annoying task, but the results are gratificating, so I'm willing to help. I have a little knowledge on category theory that may help, although it's not a deep knowledge. However, I feel

[2020-02-10 19:16] spebbe commented on #36
Hi @mateusfccp!

I completely agree. You are not the first one to suggest this and I believe that at least some basic level of documentation would make the library much more approachable.

I'm not even going to try to come up with any excuses for the current sorry state of the documentation :-) Let's just say I would welcome any help with open arms! If you or others are willing to contribute, how

[2020-02-10 20:55] mateusfccp commented on #36
Hi, @spebbe

I'm fine with your suggestion. I don't have a lot of time, but I'm willing to gradually help with documentation whenever I can. If other people would join me, any help is appreciated.

May we use this issue to track the work?

[2020-02-10 21:48] spebbe commented on #36
Sure! Also, no pressure – any improvement whenever you have the time is appreciated.

[2020-02-10 22:25] deanriverson commented on #36
As another FP fan, I'd like to help a little as well.  Would it be convenient to create a docs branch for this work that could be merged into master periodically until we get some momentum?  Or should we just submit PRs against master?

[2020-02-10 23:11] mateusfccp commented on #36
@deanriverson, I appreciate your help.

If you feel to, we may initially work on a forked branch of ours. I already started to work on some basic documentation on less complex classes, like `Unit`, `Semigroup` and `Monoid`. I'm going to push it tomorrow so you all can see if you like the approach I'm using by now.

We may then set up some general guidelines for the documentation to be consistent.

[2020-02-11 00:36] deanriverson commented on #36
Agreed, working on a forked repo is the best way to go.  I also like the plan of using the Effective Dart guidelines as a baseline and layering more specific guidelines on top if we need to.

Looking forward to seeing your initial work!

[2020-02-11 11:30] mateusfccp commented on #36
Well, here is my initial attempt (`unit.dart` ):
6363ac9ee5528b447caaa12309fc5d61b36acefb

Some principles I tried to acomplish:
- I tried to be straight and clear;
- I tried to provide a minimal and practical example;
- I tried to left additional not so important details under "Additional details".

What do you think about this approach?

[2020-02-11 12:13] modulovalue commented on #36
@mateusfccp I see that you mentioned me (but meant to mention dean). I still would like to give my retrospective opinion about the lack of documentation since I did spend quite some time learning FP mainly by digging through dartz.

IMHO dartz is not lacking documentation. Each element in itself is not complicated to grasp. The hardest part is getting a feel for the full picture. Documenting monoi

[2020-02-11 12:28] mateusfccp commented on #36
@modulovalue Although I agree partly with you, I don't think this is the point of the documentation.  As a functional programmer myself, I found the lack of documentation a little frustrating when started with dartz. For example, I only realized the fact that `|` could be used for `getOrDefault` after looking at the source code.

There's also the case where a person is still learning FP and know s

[2020-02-11 13:19] deanriverson commented on #36
I definitely agree with @modulovalue that explaining how each of the types can be used is important.  But I think even the documentation that @mateusfccp did for a type as simple as Unit shows how important source code documentation can be.  It's not that Unit is a difficult concept to grasp, it's more about getting new users (new to FP as well as new to dartz) comfortable with the library and its

[2020-02-11 14:13] deanriverson commented on #36
@mateusfccp That is a great start!  Exactly what I was picturing.

[2020-02-11 14:24] mateusfccp commented on #36
@deanriverson There's details pending as stated by @modulovalue  on the commit, but I'm glad you liked it. I'm going to Semigroup now. Feel free to give suggestions.

[2020-02-11 14:29] heralight commented on #35
thank you both of for your responses!
the main point why I asked this question, is due to the fact that await / async have a very good support of exceptions and a good readability.
 @spebbe, traverseFuture can help me, I will try it.
Thank you guys!

[2020-02-11 14:29] #35 closed

[2020-02-11 18:06] spebbe commented on #36
Off to a great start! Thank you, people!

@modulovalue, your reasoning rings true to me too. I believe usage examples are the best (and possibly only) way to convey how to "do" FP. On the other hand, I think that some light documentation on the basic purpose and potential quirks of individual types can't hurt either.

I've recently seen a surprising amount of people using parts of `dartz`, mainly

[2020-02-11 18:24] mateusfccp commented on #36
@spebbe I though a little about this. This is why I gave a more tangible explanation with "This means that". Maybe we can switch positions and place the "easier" explanation before and throw the more mathematical explanation on the Additional Details section...

What do you think?

[2020-02-11 18:28] mateusfccp commented on #36
Even so, I don't think it's easy to do this in classes that are by itself the concreteness of mathematical terminology, like Monoid, Semigroup, Functor... How could we make it tangible to people who don't really know algebraic and category therms

[2020-02-11 19:01] modulovalue commented on #36
Here's another idea, wouldn't it perhaps make more sense to start at the readme level since most people get to see the readme first? That would also be a great way to solve this problem

And a second completely different suggestion for you @mateusfccp. Of course, it all depends on how far you're willing to go but I personally believe that examples and blog posts are the way to go if you want to he

[2020-02-11 19:06] spebbe commented on #36
@mateusfccp, Agree. When possible to explain something without category theory, it maybe should be done at the top and with examples.
For pure category theoretical structures like the ones you mention, I'm wondering if we might just point interested readers to some of the great learning resources out there (Chiusano&Bjarnason, Milewski, Lipovača, typeclassopedia, etc)? Repeating the standard defin

[2020-02-11 23:46] deanriverson commented on #36
All great ideas.  I'm not great on category theory, so I personally liked the balance @mateusfccp struck on the Unit documentation.  A little light theory coupled with a little bit of exposition in the form of "this means that..." was just right.

I definitely agree that heavy theory discussions should be avoided in favor of links to the already existing and plentiful resources.  This means we hav

[2020-02-12 14:21] mateusfccp commented on #36
@spebbe I'm going to try this inverted approach, and remove teory details to a minimum so teory proficients will know what this does means with just a glance. Plus, add reference links to in-dept explanation.

For classes like Semigroup, I'm going to use simple on-line statements, like "A structure with an associative binary operator", plus the reference links. What do you think about this approac

[2020-02-12 16:00] deanriverson commented on #36
Here are some initial thoughts on improving the README:

1. I think we can mainly focus on replacing the bullet list of features with some details and simple examples
1. Move Dart 1 features to a separate section later in the document.  I'm assuming the Dart 2 is the path forward and will be more relevant to the vast majority of current and future users.
1. For each of the major types, give a brie

[2020-02-13 08:37] spebbe commented on #36
@deanriverson: love it!

The main reason I still have for maintaining Dart 1 compatibility is that the test suite is running with a "fake" property testing engine on Dart 2, meaning that the test suite isn't as confidence building as it is on Dart 1 yet. As soon as I can get my hands on/write a real engine that works with Dart 2, I'll ditch Dart 1!

I'm really excited about the high ambitions here

[2020-02-13 14:45] deanriverson commented on #36
@spebbe I'm happy to take on the README work.  I think we can draw some inspiration from [scalaz](https://github.com/scalaz/scalaz) and some of the other popular FP libraries.

I'm working my way through the FP in Scala book (really great book, thanks for the recommendation!) and I'm hoping to take inspiration from it for some examples to use in a Quick Start section for the dartz README.  I'll al

[2020-02-13 17:04] mateusfccp commented on #36
@spebbe

I have a little question regarding `FirstSemigroup` and `firstSemigroup()` usage. What is the difference in the use-case of these? In my understanding of the code the only difference is that one is typed and the other is dynamic. Am I missing something?

By now, I documented like this:

[code]

[2020-02-13 17:49] spebbe commented on #36
@mateusfccp, crap, I should have warned you! It is probably more fruitful to work based on the 0_9_0_wip_2 branch. I've been procrastinating merging it, but it has been more or less ready for a while now. The definitions for `firstSemigroup` and a couple of others look different on that branch.

This specific pattern allowed a singleton instance of `FirstSemigroup` to be used for any `A`. This wor

[2020-02-13 19:31] mateusfccp commented on #36
@spebbe I rebased to `0_9_0_wip_2` with no problems and I'm going to proceed with the work.

[2020-02-15 23:45] don-prog commented on #34
@torbenkeller it's really strange, but I'm trapped in the similar situation :). Now I have a runtime exeption:

When your code goes into `cathcError(...)`.
How can I fix it?

[2020-02-16 18:34] torbenkeller commented on #34
I don't know exactly why converting results of Futures to Eithers doesnt work as expected but there is the `Task` Object in the package which is solving this for you. Try this:

[code]

But this map function is boilerplate code so you can outsource it to an extension. Try this:
[code]

You can use it like this:

[code]

[2020-02-16 22:14] don-prog commented on #34
@torbenkeller many thanks for this extension!
I generalized it a bit for my needs:

[code]

So now I can do this:
[code]

But let's suppose I want to call and return in `onLeft` some nested function which returns `Future<Either<Failure, MyResponse>>, if so then I need to `await`:
[code]
But now I also need to `await` in the my extension:
[code]
So, I need to mark it as `async` and so on... But I d

[2020-02-16 23:49] torbenkeller commented on #34
I would not recommend changing the extension. It is against the idea why you want to use an `Either<Failure, MyResponse>`.

The Idea is you have runtime exceptions and specific cases like "No Data Selected" and create Failures from it. You use Failures to be independent of the "data selection layer". So when you create the Either the "data selection layer" is already throwing Failures and not HTTP

[2020-02-17 00:05] don-prog commented on #34
@torbenkeller you are right. But my `restClient.request()` is generated by the Retrofit method, so I can't do anything inside this method. It returns response or `DioError` which I need to handle(as your `switch` inside `request()`), so I created a function `Future<Either<Failure, dynamic>> _processNetworkErrors(dynamic error)` which I want to call inside `onLeft`.

[2020-02-17 01:16] torbenkeller commented on #34
Then write a wrapper function around the request function like this:
[code]

[2020-02-17 04:15] don-prog commented on #34
@torbenkeller unfortunately, I didn't get your whole idea.

I have `RemoteDataSource` with Retrofit Api:
[code]

And NetworkRepository:
[code]
Here is an example of the case when I call the request, get 401, refresh access token, and call the first request again.

How do you propose to do this and similar tasks?

[2020-03-01 13:13] ResoDev commented on #34
Hello, I didn't read through the whole conversation here but I think you may find these extension methods useful. Since I'm not an FP pro by any means, they're probably badly named but they serve the purpose well. Basically, it's an `EitherT` type specifically for `Futures`.

[code]

These allow you to `flatMap`, `map`, `leftMap` and "`nestedMap`" (over the inner `Either`) with ease. Then, just `a

[2020-03-03 08:27] spebbe commented on #34
@ResoDev, great stuff! Thank you for helping!
This approach to getting some of the functionality of monad transformers looks really promising -- i'll probably take some inspiration from this once I'm able to drop Dart 1 support :-)

Thank you also @torbenkeller for helping out!

I'll close this ticket for now, since it looks a bit too open ended, but feel free to re-open if you feel the need.

[2020-03-03 08:27] #34 closed

[2020-03-03 10:39] spebbe commented on #34
@ResoDev: Oh, and if one chooses to view your extensions as forming a composed monad, it is probably the current `map` that should be renamed (`attemptMap`, maybe?). The current `nestedMap` corresponds more closely to `map` from a Functor law perspective.

[2020-03-06 15:15] pedromassango commented on #36
Any update on this. I want to use this package but I can't find any getting-started documentation.

[2020-03-07 06:58] ResoDev commented on #36
I know it's unfortunate @pedromassango but because naming is pretty much the same across languages, I'd recommend you to check out [Scala Cats](https://typelevel.org/cats/) and [Kotlin Arrow](https://arrow-kt.io/) docs.

[2020-03-07 15:29] mateusfccp commented on #36
@pedromassango I'm working only on in-code documentation, so I can't really help you with this.

I don't know how is things at @deanriverson side.

However, you can check other font, like @ResoDev suggested.

[2020-03-08 08:17] apiep opened #37 "Question: How do I implement my own monad with dartz?"
How do I implement something like in this [post] with dartz?

[post]: https://medium.com/@gcanti/mtl-style-and-typescript-460ed845c860

[2020-03-08 18:08] mateusfccp commented on #37
I gave a look at the link you posted and it don't give any hint of what it's supposed to do.

Anyway, you can easily implement your own monad with dartz.

As a clean example, you can have a look at [IdMonad](https://github.com/spebbe/dartz/blob/master/lib/src/id.dart):

[code]
Monad requires you to implement `bind` (the `pure` is from Applicative; you may want to implement it as well or not), and

[2020-03-09 02:45] apiep commented on #37
Hi thanks for the answer.

The idea is to have an abstraction over effectful function which will fetch data over http.

At first I want to implement it with free monad, but after reading some blog [post], it seems I can achive the same thing with just monad instance. Thats why I ask if I can make an instance of monad with dartz.

I am still learning about functional programming, and want to learn

[2020-03-09 11:05] spebbe commented on #37
@apiep, super short recap:

`Monad` is for stand alone monad instances for existing types. They are currently not half as useful as they are in scala or haskell, since Dart lacks higher-kinded types (see issue #32 for a potential workaround).

`MonadOps` declares an OO-friendly monadic interface, intended to be used directly on types you write yourself. This allows for saner static typing and nice

[2020-03-09 16:02] blaueeiner opened #38 "Error because subtype 'dynamic' does not match if using equals() in expexted()"
Hi Dartz Community!
I got a problem related to equality match with subtypes.
I use dartz in this context of the problem connected with flutter_test.

This is my code snippet that is relevant:
expect(result, equals(Right([tActivity])));
and I get the following error when running tests:

"Expected: Right<dynamic, List>:<Right([ActivityModel])>
Actual: Right<Failure, List>:<Right([ActivityModel])>"

[2020-03-09 16:45] spebbe commented on #38
hi @blaueeiner!

try adding explicit type annotations, like `expect(result, equals(Right<Failure, List>([tActivity])));`.

[2020-03-09 16:48] mateusfccp commented on #38
This happens because both `expect` and  `equals` receive `dynamic` as parameter.

This issue is similar to #33. However, unlike #33, you can't pass type arguments to the function.

I don't know if this will work, but did you try to make an explicit cast? Like `expect(result, equals(Right<dynamic, List>([tActivity])))`.

[2020-03-09 17:05] blaueeiner commented on #38
It fixed it! Thank you guys :)

[2020-03-09 17:05] #38 closed

[2020-03-09 17:23] blaueeiner opened #39 "Equal if using equals() in expexted() but nevertheless get a test fail/error"
Hi Dartz Community,
I got another issue when using Dartz connected with flutter_test package.

This is my code:

[code]

This is the error:
**Expected: Right<Failure, List<Activity>>:<Right([ActivityModel])>
Actual: Right<Failure, List<Activity>>:<Right([ActivityModel])>**

For me somehow this does not make any sense.
Hopefully you can help me :)

[2020-03-09 17:26] mateusfccp commented on #39
`Either` will use `==`  for equality. `[1, 2, 3] != [1, 2, 3]`, because of the way Dart compares lists.

For reference: https://stackoverflow.com/questions/10404516/how-can-i-compare-lists-for-equality-in-dart

[2020-03-09 18:13] blaueeiner commented on #39
Thank you that is true. So what I have to do in my context is to write a custom matcher if there is no other way.

I found the [CustomMatcher class](https://api.flutter.dev/flutter/package-matcher_matcher/CustomMatcher-class.html) in the docs. The 'actual' is implemented that is clear but where to get expected from to then return a boolean?

[2020-03-10 05:35] apiep commented on #37
Thanks for the clarification, even though I'm not quite "click" yet with your explanation for `MonadOps`.
I will try to implement it with `Free`.

Thanks again for the help.

[2020-03-10 05:35] #37 closed

[2020-03-18 00:02] bounty1342 commented on #36
Hi,

Followed @ResoDev [video](https://resocoder.com/2019/12/14/functional-error-handling-in-flutter-dart-2-either-task-fp/#Introducing_functional_programming) and successfully used it on my project. 👍
It feels like I'm just scratching the surface and there is much more to discover.

I keep an eyes on this thread and will be satisfied with either a doc or a new in depth video 😄

[2020-03-22 05:53] PandaGeek1024 commented on #36
Same here, lack of example codes creates a huge barrier from learning this awesome lib.

[2020-03-22 06:08] PandaGeek1024 commented on #36
Even a few simple examples of Option, Either, State, Tuple, Free, Lens would help us a lot of learning this great library.

[2020-03-22 18:18] mateusfccp commented on #36
@PandaGeek1024 Although there's a `example` folder, I agree that it's not as comprehensive as it could be, and is somewhat a little confusing. This is why this issue exists, so we can improve this aspect of the package to make it even better...

While we are at it, do you have any specific question? I would be glad to help you understand a little more how to use this package on your code!

[2020-03-22 21:39] PandaGeek1024 commented on #36
@mateusfccp I have never learned scala before, so I went to do a bit of reading about it. Although I do have a rough idea now,  when it comes to actual coding I still don't know where to start. I have read the example code and the source code of the package but it is quite hard to understand how it works (due to my lack of scala knowledge).

As a complete newbie, I would like to know what are the

[2020-03-23 00:18] lts1610 commented on #34
Inspired by ResoDev, I wrote something like this
Future Option:
[code]

[2020-03-23 01:36] RollyPeres opened #40 "Preserve typing on Task extensions"
I've made a couple of extension methods trying to simplify the extremely verbose syntax when using `Task`. I'm left mapping in case of a failure to preserve unexpected errors.
[code]
And I wanna call it like:
[code]
However, I get `type 'Future<Either<AppFailure, dynamic>>' is not a subtype of type 'Future<Either<AppFailure, Unit>>'`
I might be missing something here but is there a way of preservi

[2020-03-23 10:42] mateusfccp commented on #40
Hi, @RollyPeres .

Your problem seems to be related to type inferentece and, thus, not related to dartz itself.
Please, refer to #33 and #38, they are similar issues.

The problem probably will be solved simply by typecasting in the right place.

As I don't have the time to test your specific code right now, I may be wrong, so please feel free to tell me if this is not the case.

[2020-03-23 11:35] mateusfccp commented on #36
@PandaGeek1024 Although dartz is inspired by scalaz, you don't have to know Scala to understand it. Both are, actually, implementations of the functional paradigm. Of course, knowing Scala will help you, but you can focus on the functional concepts instead. Also, there are a plenty of other FP languages that may help you on your studies. One of the most common is Haskell, as it's purely functional

[2020-03-23 11:53] mateusfccp commented on #36
@spebbe

While making the documentation of Option, I noted that there was both `bind` and `flatMap` override.

What is the difference between `bind` and `flatMap`? Bot their signatures and implementations are exactly the same, and conceptually they are the same thing (usually, some languages call `bind` `flatMap` or vice-versa).

Why there are both these names in Option?

[2020-03-23 12:28] RollyPeres commented on #40
Hi @mateusfccp , thanks for suggestions. It clearly has something to do with type inference but couldn't find a solution. Also `attempt` is not generic as suggested in #33 ...I'm using `dartz: ^0.9.0-dev.5`.

[2020-03-23 12:34] mateusfccp commented on #40
Can you provide a minimal reproducible example?

[2020-03-23 13:00] RollyPeres commented on #40
@mateusfccp There you go: https://gist.github.com/RollyPeres/72c3d80e39bf032209c5b2aaea7b42e7

[2020-03-23 13:45] mateusfccp commented on #40
Well, your case is a little more complex. It seems Dart can't handle the "complex" case of `T extends Either<Object, U>` and can't infer `U`.

Let me ask: why have T to extend `Either,<Object, U>`? In the MRE you provided, you are not using any extension of `Either`, but `Either` itself.

I managed to run your example by replacing every occurrence of `T` with it's meaning:
[code]

Of course, this

[2020-03-23 15:26] RollyPeres commented on #40
That was the problem. I've experimented with a couple of approaches, so apparently I ended up not paying attention to basic stuff :)

My end goal was to have:
[code]
This will greatly simplify all the boiler plate.
Thanks @mateusfccp for having a fresh look at this!

[2020-03-23 15:26] #40 closed

[2020-03-23 17:15] spebbe commented on #36
@mateusfccp: they are both just aliases for monadic bind (aka `>>=`) for the exact reason you mentioned, namely that they are known by many different names. Also, I personally tend to use `bind` when dealing with monads that don't naturally map to collections in my head (like `Free` and `Evaluation`) and `flatMap` otherwise, but it depends on how your brain is wired I guess.

[2020-03-24 07:10] spebbe commented on #39
This is as solved as it will be, right? Closing for now.

[2020-03-24 07:10] #39 closed

[2020-04-06 07:44] torbenkeller opened #41 "Flutter StatefulWidget State name collision"
Since today in my Android Studio the dart compiler values the dartz import more than the material.dart import so I have to use
[code]
when I want to use a `StatefulWidget` and some dartz objects or functions. Otherwise the app doesn't compile and throws this error message:
[code]

[2020-04-06 11:14] mateusfccp commented on #41
I don't see this as a issue.
This is the default behavior for name conflict between packages, and there's indeed a `State` monad in dartz.

If your problem is having to type dz. to use dartz, you may instead import only what you need, like:

[code]

or

[code]

[2020-04-07 06:31] spebbe commented on #41
As @mateusfccp (thanks!) mentions above, Dart comes with excellent tools for dealing with name conflicts.

While I agree that it is unfortunate that there is a conflict to begin with, the name `State` for the specific structure in dartz is so standardized that it would be very confusing to call it anything else.

Are you ok with closing this?

[2020-04-07 07:20] torbenkeller commented on #41
@spebbe sure. I just wanted to open this so if somebody searches for this error he will find the solution.

[2020-04-07 13:11] spebbe commented on #41
ah, ok!

[2020-04-07 13:11] #41 closed

[2020-04-26 14:38] spebbe commented on #9
Hell just froze over! 0.9.0 is merged to master and released to pub.dev.

[2020-04-26 14:38] #9 closed

[2020-04-26 14:39] spebbe commented on #36
Just released 0.9.0. All merged to master, so feel free to rebase!

[2020-04-27 09:53] PandaGeek1024 commented on #36
Is this a not documentation related release? I can't see that changes.

[2020-04-27 10:11] pedromassango commented on #36
Follow this to learn the how this package works, this one is for Kotlin but the concepts are the same: https://github.com/spebbe/dartz/issues/36#issuecomment-596054965

[2020-04-30 15:16] ibcoleman commented on #36
Thanks for the fantastic library! One thing I ran into, and I'm sure it's just a limitation of the Dart type system, but I'm having trouble figuring out how to compose multiple Futures in a concise way.  I hate to clutter this issue with my sad code, but @mateusfccp mentioned monad composition. I know there's a FutureMonad class in dartz, but I can't quite figure out what to do with it.

[code]

[2020-04-30 16:32] spebbe commented on #36
Hi @ibcoleman! Thanks – glad you like it!

Although maybe slightly off topic for this ticket... :-)

...first off, here's a re-formulation of your code that requires less explicit typing:
[code]

Ideally, there should be a `traverseFutureM`, which would make the `.flatMap(id)` unnecessary, but I haven't added that yet...

While monadic _values_ do compose through `bind`/`flatMap` (which I think is

[2020-04-30 17:16] ibcoleman commented on #36
Thanks, that was very helpful!

[2020-04-30 18:04] ibcoleman opened #42 "Type Error When Returning Either From .catchError"
At the risk of wearing our my welcome, do you think this is a dartz issue or a Dart issue?

[code]

This works fine if I leave the .carchError call off the end. (Other than the HttpClient spewing exceptions up the call chain.) I think you mentioned something about the type system being changed in Dart 2.x.

[code]

[2020-04-30 20:48] spebbe commented on #42
Hi -- no worries!

I'd say it's a little bit Dart's fault and a little bit your fault :-) Just like the Scala compiler loves to infer `AnyRef` and friends, Dart has a tendency to fall back to `Object` when insufficient information for proper type inference is available.

I would highly recommend embracing `async`/`await`. It's one of the best features of Dart and is extremely well designed and imp

[2020-05-06 17:46] spebbe commented on #42
OK if I close this? Don't hesitate to reopen if needed!

[2020-05-06 17:46] #42 closed

[2020-05-06 19:28] ibcoleman commented on #42
Sure, thanks again Björn!

On Wed, May 6, 2020 at 1:47 PM Björn Sperber <notifications@github.com>
wrote:

[2020-05-09 12:01] YuMuuu opened #43 "This is not example for FP"
https://pub.dev/packages/dartz#-example-tab-

: (

[2020-05-09 12:24] mateusfccp commented on #43
@YuMuuu The examples are in the subfolder, as noted in the file.

[2020-05-09 15:46] YuMuuu commented on #43
Ok!

[2020-05-09 15:46] #43 closed

[2020-05-12 11:12] vysarafanov commented on #32
I have some naive implementation of HKT in https://github.com/vysarafanov/javelin (look at the Laws in tests)
You're welcome to comment.
Anyway - it's absolutely annoying without typealias

[2020-05-12 12:45] spebbe commented on #32
@vysarafanov thank you – this will help a lot in comparing approaches!
love your project, btw! much tighter structure than i currently have and a great inspiration.
i'll look into it more closely!

Also, with a bit of luck, more useful type aliases could be coming our way soon! see https://github.com/dart-lang/sdk/blob/master/tools/experimental_features.yaml section `nonfunction-type-aliases`. Als

[2020-05-12 15:17] vysarafanov commented on #32
@spebbe thank you for the information, will try type aliases tomorrow.

[2020-05-14 13:48] rubgithub opened #44 "Either extension"
Sorry my newbie question, but is there a way to extend Either?

I would like to create a  `isValidReturn` method:

[code]

[2020-05-14 15:07] spebbe commented on #44
Hi – no probs!

I would recommend against inheriting from `Either`, but using extension methods (https://dart.dev/guides/language/extension-methods) it's easy to add convenience/util stuff:
[code]

[2020-05-14 18:11] rubgithub commented on #44
Thanks, you're `R` extension is  the best choice.  =)

[2020-05-14 18:11] #44 closed

[2020-05-15 10:42] adamsmaka opened #45 "flutter_test expect throws error on Right with List"
Hi, I cannot test dartz Right value when type is a list.
[code]
[code]
The code above throws error:

What am I doing wrong?

[2020-05-15 10:50] adamsmaka commented on #45
Even code like this doesn't work :(
`expect(Right(['Two', 'Three']), equals(Right(['Two', 'Three'])));`

[2020-05-15 11:26] mateusfccp commented on #45
@adamsmaka Your problem probably has nothing to do with `dartz`. The same would happen if you was simply comparing the two inner lists, because this is how Dart works regarding lists comparision. It will compare the hashcodes, instead of the list items.

Have a look at #39, the issue is the same.

[2020-05-15 12:00] spebbe commented on #45
As @mateusfccp writes, this is expected behaviour of `List` equality. If you are able/willing to use `IList` instead of `List`, it provides more intuitive default equality semantics, e.g `expect(Right(ilist(['Two', 'Three'])), equals(Right(ilist(['Two', 'Three']))));` will succeed.

[2020-05-15 15:26] adamsmaka commented on #45
I did something like that and it works 🤔
[code]
Anyway thanks for answers!

[2020-05-15 15:53] spebbe commented on #45
Yes, the test framework includes special treatment for naked `List` instances. OK to close?

[2020-05-15 15:53] #45 closed

[2020-05-20 22:23] lunaticcoding opened #46 "Unit testing with Right(List()) does not work"
There seems to be an issue with unit testing lists of Right().
the following both work
[code]

but this does not work
[code]
Error Message is:
[code]

The problem is that dart does not use value equality as a default :S So the following will only compare references: (taken from either.dart)
[code]

[2020-05-20 22:32] lunaticcoding commented on #46
I figured out a decent enough workaround. Feel free to just close this issue
[code]

and then simply

[code]

works.

[2020-05-22 13:17] #46 closed

[2020-05-28 22:09] ibcoleman commented on #36
Hi! I've been messing around with EvaluationMonad and Evaluation for a few days now. One thing I just can't seem to figure out:

In my code, it's obviously common that I have a function that returns a `Future<Either<MyException, MyValue>>`.  I can understand the use an `Evaluation` in the case where you have an `Either<MyException, MyValue>` (just M.liftEither!), or in the case where you have a `F

[2020-05-29 07:54] spebbe opened #47 "Evaluation usage"
Hi! I've been messing around with EvaluationMonad and Evaluation for a few days now. One thing I just can't seem to figure out:

In my code, it's obviously common that I have a function that returns a `Future<Either<MyException, MyValue>>`.  I can understand the use an `Evaluation` in the case where you have an `Either<MyException, MyValue>` (just M.liftEither!), or in the case where you have a `F

[2020-05-29 07:58] spebbe commented on #47
Hi @ibcoleman – don't worry, you haven't painted yourself into a corner!

I hope you don't mind that I created a new issue for this. Hopefully later today I'll have the time to put together some examples of how to deal with the situation you are in and post them here!

[2020-05-29 17:14] spebbe commented on #47
Hi again @ibcoleman!

Here's a small example that maybe helps you achieve what you want?:

[code]

The `catchError` + `UnexpectedFailure` deal is optional of course. You might already have a similar mechanism in lower layers that guarantees that no failed `Future`s will be returned, but it can be a nice extra safeguard.

Hope that helps!

[2020-05-29 23:30] ibcoleman commented on #47
Thanks so much @spebbe! I'm going to go away and ponder this... :)

[2020-05-30 14:08] mateusfccp commented on #36
@spebbe
I'm currently documenting Functor... I know, obviously, what `map` is, as it is foundational to functor.

I never, however, had heard of `stregthL/R`. I made a quick search on nLab, is it based on the tensorial strength concept? What would be a natural use-case?

[2020-06-01 08:29] spebbe commented on #36
@mateusfccp
These are borrowed from scalaz (https://github.com/scalaz/scalaz/blob/master/core/src/main/scala/scalaz/Functor.scala) and yes, I believe they are related to tensorial strength. cats calls them `tupleLeft` and `tupleRight`, which maybe are better names?

It's hard to come up with a self contained use case, but they are sometimes useful for injecting "outside knowledge" into a context.

[2020-06-17 14:01] rubgithub opened #48 "Switch Alternative"
I was looking for a functional alternative and I found `mach`
[code]
Is there something similar in dartz?

https://codeburst.io/alternative-to-javascripts-switch-statement-with-a-functional-twist-3f572787ba1c

[2020-06-18 04:04] ValeriusGC opened #49 "{excuse me for offtop but...}: What's does the idiom 'QuickCheck' mean?"
Hi! Some offtop but i really intrigued. I saw it in the tests:
[code]
This class has no fields for constructor arguments, so i am stucked what goal is for them?

[2020-06-18 06:02] ValeriusGC opened #50 "What is the 'functional way' to insert values in ilist, ivector?"
`prepend`, `append`, `set` looks great but what if I need insert some entity between existing ones? Which way is the elegant FP-way in paradigm of `dartz`? I grabbed all the tests but had found no example...

[2020-06-18 07:03] spebbe commented on #49
hi! it's a property based testing system. there's good information and a some links about it here: https://github.com/polux/propcheck .

sadly, the implementation above hasn't been updated for Dart 2, so I'm currently using a very poor replacement for it in `dartz`, resulting in less reliable tests until i've found/built a better engine.

[2020-06-18 07:03] spebbe commented on #47
Closing this for now – feel free to open again if needed!

[2020-06-18 07:03] #47 closed

[2020-06-18 08:17] ValeriusGC commented on #49
I saw that project when I surfed web with this my issue. But his `QuickCheck` filled with appropriate fields so I understood that approach. As for yours one, this is just stub, isn't it? If so I got it.
--
Would You give me a favor and explain my another question (#50)? Thanks in advance.

[2020-06-18 08:23] spebbe commented on #49
right, yes! the stubs adhere to the original contract in the hope that i will be able to plug in a full implementation eventually.

i'll look into the other tickets when i have a little more time!

[2020-06-18 08:23] #49 closed

[2020-06-18 14:56] spebbe commented on #48
hi!

hmm... i guess you could layer this on top of `Either` using these helpers:
[code]

then you could could do:
[code]

o'm not necessarily recommending this approach and i wouldn't claim that it's more "functional" than side effect free functions with normal conditionals/switches in them, but it's an interesting use case!

[2020-06-18 20:24] #48 closed

[2020-07-09 06:15] MuthuHere opened #51 "After return from Left or Right, still next line is why executing?"
In my api call i am returning response object in right and error message in left.

![image](https://user-images.githubusercontent.com/18752533/87003354-0b0d0000-c1ee-11ea-985e-5ca721499444.png)

See i am getting the print line execution.
Quite weird
![image](https://user-images.githubusercontent.com/18752533/87003613-8ec6ec80-c1ee-11ea-8f29-639588141c2d.png)

[2020-07-09 06:19] krevedkokun commented on #51
nothing weird, you're just returning from closure not function

[2020-07-09 06:31] MuthuHere commented on #51
any clue ? @krevedkokun

[2020-07-09 06:40] krevedkokun commented on #51
it's hard to tell what you're trying to achieve from that snippet

[2020-07-09 06:44] MuthuHere commented on #51
Here you go,

This is a class to return loginResponse once it get success i am returning LoginModel if not i am returning error.

![image](https://user-images.githubusercontent.com/18752533/87006105-adc77d80-c1f2-11ea-9222-cf6e02a5d196.png)

[2020-07-09 07:01] spebbe commented on #51
Hi! As @krevedkokun said, you need to `return` the result of `fold`. Your current code should produce a warning about not returning a proper value from `userLogin` – that's probably what the yellow squiggly line is about.
This is normal and expected in Dart. The Dart language doesn't have non-local returns.

[2020-07-09 07:01] #51 closed

[2020-07-09 07:07] MuthuHere commented on #51
@spebbe  yes, got it but it gives error :-(

![image](https://user-images.githubusercontent.com/18752533/87008143-e61c8b00-c1f5-11ea-8728-2c9d6b3bce7b.png)

[2020-07-09 07:50] spebbe commented on #51
I'm not sure what you are trying to do here, but please check your types in your editor of choice, as they do not currently line up correctly. `data` can _never_ be of runtime type `LoginModel`. Your should be able to `return response.fold(...)` directly, although some additional type annotations might be necessary.

I highly recommend adding `pedantic` or `extra_pedantic` to your project. They wi

[2020-07-09 20:03] michaelzingg opened #52 "How to split a conveyor/stream into two"
I am aware that the conveyor stuff is still experimental, and I am only using it to try out a few things.
There are many methods which can be used to merge streams (plus, interleave, zip, ...). However, I found no way to split one stream into two, or write to multiple files/sinks. Is there a way to do that or would I need to extend the existing streaming framework?

[2020-07-10 16:52] spebbe commented on #52
Hi -- cool that you are trying it out!

I'm not sure if this is what you're after, but here's a simple example of writing to multiple files concurrently using channels and `through`:
[code]

If you run it with `mockConveyIO` (in the examples folder), you'll see that the writes to the files are actually interleaved and streaming.

As you've probably noticed there aren't many high level APIs/utils f

[2020-07-12 16:43] michaelzingg commented on #52
Thank you @spebbe
Your example helped me to look at the conveyor code from a different angle and I think I am a little closer to understand how it works. I am planning to read the chapter in "Functional Programming in Scala" you referenced in the source file. Hopefully it will help me to get an even better understanding of the concepts you used for the conveyor implementation.

I am learning Flutt

[2020-07-13 19:55] spebbe commented on #52
@michaelzingg, i'm not claiming that this is a particularly elegant or efficient solution, but here's one straight forward way of doing it:
[code]

Actually splitting a `Conveyor` into two or more is probably going to be a bit messy. Being a pull style streaming approach, dealing with back pressure, error propagation and resource safety in a "split" scenario might require some compromises for the

[2020-07-14 20:29] michaelzingg commented on #52
Hi @spebbe
Thanks for your solution. I think it will do for my use case, but I see, that it probably gets messy very quickly if there are more operations involved. It looks like splitting streams is not that easy. I have not seen any language or library which supported splitting streams elegantly. Recently, I saw an example of Akka streams and substreams which looked cool, but I have not found the

[2020-07-15 09:53] spebbe commented on #52
closing this for now, but feel free to re-open if needed!

[2020-07-15 09:53] #52 closed

[2020-07-15 21:41] averynortonsmith opened #53 "Make IHashSet (similar to IHashMap)"
`IHashMap` provides a simple interface for creating a map using hash functions for ordering elements. A similar class for sets with hash-ordered elements would be useful as well. How difficult would this be to add? Any tips on how to do it?

Thanks for the library by the way! It's currently powering [Pointless](https://github.com/pointless-lang/pointless).

[2020-07-18 12:06] spebbe commented on #53
Hi – sounds perfectly doable! The resulting structure would most likely be less efficient than `ISet`, similar to how `IHashMap` has more overhead than `IMap`. In the simplest case, one could simply treat `IHashMap<K, Unit>` as a set structure, i guess? Basing it directly on `AVLTree` would be more efficient though. I can take a stab at it if you feel it would be a useful data structure?

Pointles

[2020-07-20 08:58] Sadmansamee opened #54 "fold with async*"
I'm using Either from API call repository with Bloc implementation, on my bloc based on API response (left or right) I fire(**yield**) event. But for that my fold function needs to be **async*** function, but whenever I declare it as **async*** it doesn't get called.

It doesn't work
[code]

But It works
[code]

[2020-07-20 09:02] krevedkokun commented on #54
[code]
should work

[2020-07-20 09:22] Sadmansamee commented on #54
Thanks, `yield* response.fold` worked

[2020-07-20 09:22] #54 closed

[2020-07-21 05:22] Peng-Qian commented on #41
personally, I think it would be nice if dartz could avoid the name conflicts since lots of flutter developers are using the nice plugin. 👍

It a little bit annoying to use a prefix or hide/show (prefix will cause the syntax longer and all of them need a manually fix for every import). 😁

[2020-07-21 09:55] mateusfccp commented on #41
I don't think so. I hardly use `StatefulWidget`s, but even when I use, my logic is decoupled of my UI, so I won't use `dartz` and `flutter/widgets` in the same file.

[2020-07-21 11:23] Peng-Qian commented on #41
You are absolutely right, UI should be decoupled of logic. The reason I suggest here is that if we apply dartz to value object (DDD), Either() will frequently appear to UI layer.

[2020-07-24 11:41] foodchaining opened #55 "Map mutation efficiency with regard to minimization of copying."
Hi,
They say the so-called _persistent hash array mapped trie_ is used to efficiently implement immutable maps (e.g. in Clojure).

How does this compare to dartz' maps?

See also:
https://github.com/vacuumlabs/persistent-1
https://github.com/google/built_collection.dart/issues/44

[2020-07-24 17:09] spebbe commented on #55
Hi @foodchaining!

Yep, Clojure and Scala both used to use HAMT for some of their data structures. At least Scala now uses CHAMP structures by default instead, which improves upon HAMT especially in respect to memory footprint and locality.

`IMap`, `IVector`, `ISet` and some other structures in `dartz` currently use AVL trees, which are very similar to red-black trees. AVL trees support decently

[2020-07-27 09:40] foodchaining commented on #55
Thanks for the clarification,
The remaining detail is _transients_ (as [defined by Clojure](https://clojure.org/reference/transients)). As far as I can see `dartz` doesn't have them; would they be useful here if implemented for persistent AVL trees?

[2020-07-30 14:55] reilem opened #56 "No rightMap on Either?"
Currently `Either` has a `leftMap` but no `rightMap`. Is there any reason for this that I am not seeing?

It's a one line fix and I would gladly open a PR for it. 😄

[2020-07-30 15:08] spebbe commented on #56
Hi @reilem!

`Either` is right biased, so the existing `map` method should do what you want, unless I misunderstood what you want :-)

[2020-07-30 15:36] reilem commented on #56
You are indeed right, I didn't see the `map` function (or didn't fully understand what it did at first). Thanks!

[2020-07-30 15:43] spebbe commented on #55
Hi again! No, there is nothing resembling transients in `dartz` at the moment and I can't say I've missed them much personally. Do you have use cases where you believe transients or scala style Buffers/Builders would be significantly more convenient and/or performant?

[2020-07-30 15:43] #56 closed

[2020-07-31 10:24] prascuna opened #57 "flatMap lower bound on left type"
Hi there,
First of all, thanks for this nice library! Coming from Scala it makes my Dart-life way easier...

I'm trying to model a family of error types as it follows, but I'm having troubles composing them through an `Either`.

[code]

Assuming I have two methods that return the following...

[code]

... I try to compose them like shown below:
[code]

Unfortunately I get this compile time error:

[2020-08-02 17:26] spebbe commented on #57
Hi @prascuna! Glad you find it useful!

Last time I checked, Dart simply didn't support lower bounds for generic type parameters :-( Unless someone knows of some trick or workaround that I've missed, I'm afraid the type contract you suggested cannot be expressed statically for now.

A somewhat silly and noisy workaround is to widen `L` using `leftMap`, like this:
[code]

Hope that helps a little!

[2020-08-03 08:54] prascuna commented on #57
Thanks @spebbe , that's actually a way better solution than mine, so I'll take it! :)
Finger crossed, dart's type system will get better with time... I think what you did with this library is an outstanding piece of work!

[2020-08-03 08:54] #57 closed

[2020-08-03 18:47] foodchaining commented on #55
The use case is a series of inserts, updates and removals where intermediate states are not needed. I don't know whether transients if added to `dartz` could significantly improve performance. There is however an AVL tree based collection library for Clojure ([data.avl](https://github.com/clojure/data.avl)). It could be used to estimate the performance difference between persistent and transient v

[2020-08-07 16:22] spebbe commented on #55
Sounds great! I would be very interested to know if transients or similar tricks would enable performance improvements significant enough to justify the associated impurities. If you get somewhere in your investigations before I do, please let me know!

[2020-08-24 07:03] iangregsondev opened #58 "Support for Result<T,E> for returning Ok, Err"
Hi,

I wondered if anybody has considered having a Result - similar to Either but already has Ok, Err constructs.

More info here https://github.com/hqoss/monads/tree/master/lib/result. (typescript implementation)

and original rust implementation https://doc.rust-lang.org/std/result/enum.Result.html

Cheers

[2020-08-24 07:06] iangregsondev commented on #58
I did find this, but it would be nice to have it integrated directly into dartz backed by Option and other constructs

https://pub.dev/packages/simple_result

[2020-08-24 09:47] mateusfccp commented on #58
I don't see a general way of making this work. The way, for example, Rust works, is by typealiasing `Either<Err, T>` to `Result<T>`. Indeed, it's very common for the programmer to alias it's own error types to make a custom `Result`.

The Dart team is somewhat working on non-function typedefs (as the current typedef only works for functions), and as soon this feature is provided, you will be able

[2020-08-24 19:54] iangregsondev commented on #58
I was thinking more of a way to introduce Result<T,E> as a new construct built on top of Option, much like Either.

Of course, I could you implement my own Result<T,E> but I just thought it would be something of benefit to the library.

I

[2020-08-24 22:08] mateusfccp commented on #58
This only makes sense as long as there's a default `Err`, but it would really not be useful. What are you thinking, in using `Exception` as the default left value? Because usually, when people use `Either` (or `Result`) for error handling, they also implement their own Error structure, so they would have to use `Either` anyway.

[2020-08-25 06:58] spebbe commented on #58
Hi @iangregsondev!

I've only briefly scanned the links you sent, but I get the impression that the main difference is naming, not whether the "error"  type is fixed or not. Am I correct in that it is mainly different naming (`Right(...)` -> `Ok(...)`, `Left(...)` -> `Err(...)`) you are after, or am I misunderstanding something? Could you maybe provide an example of how you would like your code to

[2020-08-25 09:52] mateusfccp commented on #58
@spebbe, `Result` is virtually the same as `Either`, but with other names. Usually, it has the error side fixed in a specific type This is way I said Rust uses type aliases to deal with results.

For example, if you are using IO on Rust, you use IO lib [`Result`](https://doc.rust-lang.org/std/io/type.Result.html), which is a `Result` for IO errors. De definition of `Result` in this case, is `type

[2020-08-25 10:50] iangregsondev commented on #58
@spebbe Yes exactly its more or the less the same, but providing its own isOk, isErr - etc.

@mateusfccp sure, I understand all this.

I have found this, https://pub.dev/packages/simple_result , which seems to do what I need.

Although I am going to attempt to use it similar to Either - sat with Option etc.

With regards to the EIther type, I have been watching the most excellent DDD (flutter) you

[2020-08-25 15:38] spebbe commented on #58
@iangregsondev, thanks for the suggestion!

Would some simple utils like this help you in any way?:
[code]

For a more convincing `Result` approximation, let's keep our fingers crossed that we get non-function type aliases soon!

[2020-08-25 16:05] tdnghia98 opened #59 "Function generator callback with Option.fold"
Hi all,

I love using the dartz package but today in my use case, I discovered that the callback is not executed when using Option.fold

[code]

Is there any support on adding this to the next release? This is one of the very useful feature when dealing with options in the bloc

[2020-08-25 19:19] spebbe commented on #59
Hi @tdnghia98 and thanks for the support!

Are you consuming any elements from the `Stream` returned by `fold`? Depending on how you construct your `Stream`, you might have to consume at least one element from the returned `Stream` before the body of the function even starts getting evaluated.

Maybe this snippet will shed some light on things?:
[code]

[2020-08-25 19:30] iangregsondev commented on #58
Thanks, @spebbe .

I think this would work in the meantime.

[2020-08-26 11:14] apiep commented on #59
Or a specific code for bloc, you can always `yield* fold` like this

[code]

[2020-08-28 15:37] spebbe commented on #59
Hope that helped – closing for now.

[2020-08-28 15:37] #59 closed

[2020-08-28 15:37] #58 closed

[2020-08-28 15:38] spebbe commented on #55
Closing this for now – feel free to reopen!

[2020-08-28 15:38] #55 closed

[2020-08-29 16:58] tdnghia98 commented on #59
Sorry for the late reply.
Actually the problem is the callback function signature does not allow a Future return, I am executing async code in the body of the callback.

[2020-08-29 17:59] tdnghia98 commented on #59
OK I got why. I made the function async so I need to await for it. Here is the code in case someone has the same issue.

Thanks for your help!

[code]

[2020-09-01 14:51] enzotar commented on #36
@modulovalue _"Explaining what a lens (or any other concept for that matter is) is not enough to give them an intuitive understanding for them. They need to see FP in action."_

Yes! As a newbie programmer trying to understand and integrate FP with Dart, more examples would really be helpful. I watched [The Functional Programmer's Toolkit - Scott Wlaschin](https://youtu.be/Nrp_LZ-XGsY), read some

[2020-09-08 21:56] mateusfccp commented on #3
@spebbe Why is there no Reader monad in `dartz`? Is it not possible? I tried to implement it by myself and got caught with contravariance problems.

For example, this code
[code]

would result on the following error:

[code]

[2020-09-09 15:52] spebbe commented on #3
Hi @mateusfccp!

You could do something like this:
[code]

I don't think it's possible to write a type safe monad instance for un-wrapped reader functions directly in Dart (but not 100% sure). That's probably the main reason why I haven't included it yet. The need for wrapper objects/stack safety/etc usually leads me to using `Evaluation` in the end instead.

It should really be in the library tho

[2020-09-09 16:09] mateusfccp commented on #3
@spebbe I think https://github.com/dart-lang/language/issues/213 would help in our case for a type-safe implementation, although there's no promise nor date for it to be implemented.

[2020-09-09 17:33] mateusfccp commented on #3
@spebbe According to @eernstg, on dart-lang/language#213, we can use something like:

[code]

However, this is only available since Dart 2.9, and `dartz` is currently compatible with Dart 1.

[2020-09-10 08:23] spebbe commented on #3
Thanks for this -- this is great news! I'd heard rumors that declaration-site variance control was being worked on, but didn't know that it had been released. I'm baffled that I can't find **_any_** mention of this important language change anywhere in the SDK changelog, dart.dev or any of the usual channels.

And yes, this should make it possible to declare standalone type class instances for "na

[2020-09-10 08:31] eernstg commented on #3
Declaration-site variance has not yet been released, so it's not enough to switch to Dart 2.9.

[2020-09-10 08:46] spebbe commented on #3
Aww... well the lack of an announcement makes more sense now :-)
Thanks for clarifying @eernstg! I hope you are able to release it eventually – fingers crossed!

[2020-09-10 09:06] mateusfccp commented on #3
I see... I though it was available through `enable-experiments` because it's declared on https://github.com/dart-lang/sdk/blob/master/tools/experimental_features.yaml. Plus, if I try to use it on any file it hints me that I need to have Dart 2.9 or greater to use it.

Sorry for the misinformation.

[2020-09-10 10:06] eernstg commented on #3
A feature may be available through `enable-experiments`, but that doesn't mean that it is guaranteed to work, or that a released version of the feature will work in the same way. The hint is obsolete, I've reported that (https://github.com/dart-lang/sdk/issues/43379).

[2020-09-10 10:19] mateusfccp commented on #3
Thanks, @eernstg.

[2020-09-11 20:41] cranst0n opened #61 "Map arity"
Is there any reason the arity of `.mapN` (e.g. `Either.map1`, `Either.map2`, etc.) only goes up to 6? I've run into a situation where I could actually use functions that handle a higher number of arguments. Or maybe there's a more elegant solution (e.g. some kind of for comprehension-like feature) that I'm unaware of?

I can open a pull request if you're okay with this and don't want to do the mec

[2020-09-12 12:12] spebbe commented on #61
Hi @cranst0n and thanks for your interest!
I think I just got bored at some point :-)
Should probably have some code generators for this, but a PR with more hand written cases would be great!

[2020-09-15 10:53] e200 commented on #34
Why we can't have this on docs? Actually, this package have any docs somewhere?

[2020-09-16 14:04] cranst0n commented on #61
Fixed in #62.

[2020-09-16 14:04] #61 closed

[2020-10-04 15:20] spebbe commented on #61
@cranst0n, my apologies for the long wait. I've now released 0.9.2 with the contents of PR #62! I haven't been able to find the time for completing the stuff I was working on and will release them later instead. Thanks again!

[2020-10-12 09:26] fionues opened #66 "Question how to access Either Left / Right without fold"
Is there a way to access Left and Right without using fold?

Context:
I am in a loop and if I get a Left result i want to return but if i get a Right result i want to add it to a list. So i cant use fold().

[code]

[2020-10-12 18:14] spebbe commented on #66
Hi @fionues!

If you just want to perform a side effect on `Right` values, use `forEach`, like this:
[code]

If you want the early return in your example above and want to keep the imperative style, just use type casing in the loop:
[code]

If you want to move more towards an FP style, you could instead replace the whole loop with something like this:
[code]

I don't know your whole program or all

[2020-10-13 07:35] fionues commented on #66
ah thank you very much. a lot of good options. I would like to stick to the imperative style since I am not yet familiar enough with the FP style.

If I understood correctly then the `walletProfiles.value` holds either the Right oder the Left value? So i can return the Left value after a is Right / is Left check? like this:

[code]
[code]

[2020-10-13 07:58] spebbe commented on #66
Almost! `value` is individually defined (not inherited) on both `Left` and `Right`, returning `L` and `R` respectively. Therefore you need to type case in order to access `value`. Checking `isRight()`/`isLeft()` is not enough to convince the type system. This is annoying but intentional, since otherwise the point of `Either` (~reminding you of potential error cases) would be completely lost.

The

[2020-10-17 19:53] narcodico opened #67 "[Feature request] Add `StackTrace` to `Task`"
Hey @spebbe 👋

I'd like to suggest adding the `StackTrace` to the left of a task invocation.
So instead of:
[code]
you'd have:
[code]

Where `TaskError` class would hold the `error` and the `stackTrace`.
This would allow for logging/inspecting of the stack if needed.

[2020-10-19 05:18] mwenechac opened #68 "How to use dartz filter function?"
I have this implementation, and I want to have access to the right side and then filter the list. I have added another map function as shown below but I cannot seem to make it work:

  yield* _firestore
        .collection('trips')
        .where('bus_stops.$destinationTown', isEqualTo: true)
        .where('bus_stops.$departureTown', isEqualTo: true)
        // .where('available_seats', isGreater

[2020-10-19 18:12] spebbe commented on #68
Hi!

I can't really decipher your code without any context, but I'm going to assume you are referring to the `filter` method on `Either`. Is that correct?

`Either#filter` applies a `predicate` function to `Right` values, leaving them unchanged if the `predicate` function evaluates to `true` and returning a `Left` of whatever the `fallback` function evaluates to otherwise. `Left` values are simply

[2020-10-19 18:12] #66 closed

[2020-10-29 21:46] saltedpotatos opened #69 "Fold Either for a list of items"
I've recently started using Either types, or any functional programming, and am stuck trying to figure out how to yield a state in my bloc when I need to perform multiple actions in an event, and call a function on each item in a list.

Everything works well if I'm performing a single action like

[code]
or

[code]

But I get lost trying to chain multiple calls.

Looking at some of the extension f

[2020-10-30 14:09] spebbe commented on #69
Hi @saltedpotatos!

I am missing _a lot_ of context here and am a bit confused by some of the code you included, such as the seemingly unnecessary nested `try` block in the third snippet and the purpose of yielding rather than just returning.

I also don't know the contract of `OrderRepository`, making the desired error handling semantics very much guesswork :-) Below, I am assuming that _every_ m

[2020-10-30 14:10] #68 closed

[2020-10-30 16:55] saltedpotatos commented on #69
Thanks, @spebbe , your solution worked perfectly!

Sorry about the wall of text, and still not including enough context. I try and include enough information to avoid the [xy problem](http://xyproblem.info/) , but still miss the mark sometimes.

I'll have to do more reading on flatmap vs map, since I assumed I wanted to map, and apparently I needed to flatMap, and also Evaluation, since looking at

[2020-10-31 15:42] spebbe commented on #69
Wow, that's great – your description clearly _was_ pretty good then! 😃

Thank you very much for asking, but I don't accept donations.

Glad I could help – good luck with your project!

[2020-10-31 15:42] #69 closed

[2020-11-03 04:56] mwenechac commented on #68
Thank you @spebbe .
That was very helpful.

[2020-11-23 14:31] eggnstone opened #70 "Support Dart null safety"
Please support Dart null safety
https://dart.dev/null-safety

[2020-11-23 18:11] mateusfccp commented on #70
I was thinking about it today, but it will require @spebbe drop Dart 1 support first, and I don't know when he is willing to do it.

[2020-12-11 07:49] spebbe commented on #70
okidoki! i'm preparing one of those `-nullsafety` prerelease packages. almost there, just a couple of pesky test failures to fix.

[2020-12-11 10:15] mateusfccp commented on #70
@spebbe So are you finally dropping Dart 1 support?

[2020-12-11 11:55] spebbe commented on #70
@mateusfccp I'll do the initial `-nullsafety` prereleases from a branch and AFAIK that branch will have to specify 2.12 as minimum SDK requirement, so in a way: yes! Sometime after null safety is out of beta, this branch would be merged to master and I think Dart 1 backwards compatibility will be then become impossible to retain.

[2021-01-07 15:35] spebbe commented on #70
Hi @eggnstone and everyone else! I've published `0.10.0-nullsafety.0` now. All tests pass and the examples run correctly, but there could still be regressions and/or unintended behaviour. Please report any issues you find!

[2021-01-12 20:05] Nolence opened #71 "Is Option necessary with nullsafety?"
Hi!

Sorry if this is a dumb question or if it belongs on SO.

Now that dart has sound null safety, we can be certain something is not null. The compiler (or whatever it is) is even smart enough to promote things to non-null after we check its not equal to null. `Option`'s main selling point to me was requiring we handle the case where a value was possibly null but is there still a reason to use i

[2021-01-12 22:30] UliPrantz opened #72 "What about documentation?"
I think it would help many people and also would make this package more accepted and useful when there would be any documentation. Things like explaining what functions of Either or Option do would be really helpful (even if it's just copied from some documentation of another functional language). Didn't look into other classes yet but I assume the documentation is missing on all of them.

[2021-01-13 11:19] mateusfccp commented on #71
Yes, it is. Option is not only a solution for null-safety. It has all the functorial/monadic properties that null-safety doesn't provide. However, if your only case for Option was for null-safety, you can simply not use it.

[2021-01-13 11:21] mateusfccp commented on #72
This is a duplicate of #36.

I am working on documentation, but I don't have much spare time. You can help with the issue if you feel like it, your help would be welcome.

[2021-01-13 12:00] spebbe commented on #71
Hi – not a dumb question at all!

Dart null safety is still in beta, but is expected to be available in a stable SDK soon-ish. Once that happens, null safety benefits similar to what is provided by `Option` will be supported natively in the language. `?` specifies partiality in the type system just as well as `Option` does and carries less runtime and syntactic overhead. There will probably still

[2021-01-13 14:08] Nolence commented on #71
Sounds good and thanks for the explanation.

Yeah, my first introduction to this library was through a prior colleague telling me to just use it to get rid of null's in our codebase so I had a somewhat limited POV. I still do like how nice the combinators look over alternative methods.

Thank you

[2021-01-13 14:08] #71 closed

[2021-01-15 07:55] spebbe commented on #72
Duplicate of #36

[2021-01-15 07:55] #72 closed

[2021-01-17 04:46] ericchuawc opened #73 "2nd API depends on 1st API - how can I do this?"
I need some help here. I learned this library from this tutorial https://resocoder.com/2019/12/14/functional-error-handling-in-flutter-dart-2-either-task-fp/ and single API call seemed to work.

However I have this scenario

1st API - https://ip/v1/programs - this API will return all programs

Then, in order to get the programs' photo, I need to call another API and do a for loop.

2nd API - https

[2021-01-18 07:58] spebbe commented on #73
Hi @ericchuawc!

This sounds similar to the issues #34 and #69, to name a few. Would the information and suggestions in those tickets maybe help you achieve what you want?

[2021-01-18 09:27] ericchuawc commented on #73
In my await Task(), I have tested to call _service.getPrograms(token). Inside the getPrograms(), I will process the 2 API calls. Seems to work fine.

Do you think this is a good way?

or is it better I handle this 2 APIs from Task() ?

[2021-01-19 12:04] spebbe commented on #73
Hi @ericchuawc!

It really depends on what your goals are. If your code does what you want it to do and you like the way it looks, it's probably a good way :-)
Whether the `Future` passed to `Task` performs a single API call or a whole sequence doesn't really matter much from a functionality perspective. `Task` combinators such as `attempt()` will work fine regardless.
Wrapping each API call in a

[2021-01-19 22:17] wenchingchua commented on #73
Thanks for sharing.

If I want to do this "**Wrapping each API call in a separate Task might improve certain aspects of your code, such as composability and testability, but it is very much up to how you prefer to structure your code.**"

As 2nd API call depends on 1st API call, how do I write this code? Any code snippets to share?

[2021-01-19 22:18] ericchuawc commented on #73
Thanks for sharing.

If I want to do this "Wrapping each API call in a separate Task might improve certain aspects of your code, such as composability and testability, but it is very much up to how you prefer to structure your code."

As 2nd API call depends on 1st API call, how do I write this code? Any code snippets to share?

[2021-01-20 08:00] ericchuawc commented on #73
I found out that I can do concurrent APIs using this way

[code]

But wonder can 2nd API depends on 1st API, I handle within Task() itself. Hmm...

[2021-01-21 16:40] spebbe commented on #73
Hi @ericchuawc!

Here's a toy example showing some strategies for composing `Task` instances using `map` and `flatMap`, as well as integration with `Future` primitives such as `wait`. Maybe it will give you some ideas of possible ways for structuring your code?:
[code]

[2021-01-21 18:44] ericchuawc commented on #73
Thanks for sharing @spebbe and will see how to implement such approach in my codes soon.

[2021-01-28 08:26] rich-j opened #74 "Null safe optionOf should accept null"
The `Option` method `optionOf` needs to accept a nullable value since its function is to remove said null...

[code]

Using `dartz: ^0.10.0-nullsafety.0`

[2021-01-29 07:43] spebbe commented on #74
Hi @rich-j!

Haha – I feel really silly now :-) Thanks for spotting this! I'll publish a fix as soon as I'm able!

[2021-01-30 21:37] rich-j commented on #74
Not a problem @spebbe - we're all trying to learn the new null nuances...

We now find that converting an `Option` back to a nullable type (needed for some Flutter APIs) is not as clean as it used to be. Given an `Option<String> str` we used to convert with `str | null` - this now doesn't type check. We have found `str.fold(()=>null,(s)=>s)` but would like something a little more concise. Would yo

[2021-01-31 05:36] apiep commented on #74
For me, using a simple method extension is enough :D
Here is an example https://github.com/qiscus/qiscus-chat-sdk-flutter/blob/master/lib/src/core/extension.dart#L181

[2021-01-31 18:20] rich-j commented on #74
@apiep - yes, using extension methods is a good suggestion for conversions from `Option` (still need the original issue's change to `optionOf`). We already had a `.get` extension (throws on `None` - inspired by Scala) and we did add the `.getOrNull` as an extension. I made the above suggestion of adding a conversion back to a nullable type in `dartz` to maybe provide "balance" to the API. `optionO

[2021-02-01 08:04] spebbe commented on #74
@apiep, @rich-j, thanks for the input! I think adding an explicit `A? toNullable()` to `Option` makes perfect sense on the `nullsafety` release track for now. It will of course make it into `master` eventually. I've previously tried hard to avoid API methods that intentionally return `null`, but with Dart null safety (once stable) I feel it's safe to chill a bit on that point.

[2021-02-08 21:43] rich-j commented on #74
@spebbe, any chance of a release - at least for the parameter type?

I can fork - but that seems like a lot of work for a single "?"  ;-)

[2021-02-10 18:18] spebbe commented on #74
@rich-j, @apiep: `0.10.0-nullsafety.1` published now with the discussed changes!

[2021-02-10 20:21] rich-j commented on #74
Thanks @spebbe - our development CI builds are happy again (I admit I "cheated" and added the "?" to my local `dartz` copy)

[2021-02-10 20:21] #74 closed

[2021-03-04 06:07] apiep commented on #70
may I ask when will dartz with nullsafety promoted to stable release with flutter 2.0 has been released in which include nullsafety?

[2021-03-04 07:58] spebbe commented on #70
The first stable releases on the Dart 2.12 and Flutter 2.0 tracks were released yesterday. I myself am going to wait for at least a couple of patch releases until I convert customer facing applications (i've been burnt before 😁) and would therefore not want to require >=2.12 on the main releases just yet. The patch versions tend to come quite quickly after major SDK releases though, so it shouldn'

[2021-03-04 07:59] #73 closed

[2021-03-05 14:59] SandroMaglione opened #75 "Roadmap for future of dartz package"
Hi @spebbe

The package is awesome and it is also really popular on pub 💯

I would like to ask if you have in mind a roadmap for the future of dartz. It could be also useful for possible contributors to know what could lay ahead and what changes, improvements, or/and additions could be made to the package.

Do you have something in mind? Does the package need some improvements or contributions? Is

[2021-03-07 13:36] Praful commented on #36
What is the state of the code documentation? I installed the null-safety version and can't see anything! Maybe I'm looking in the wrong place or the changes haven't been merged?

I'm learning functional programming and it's difficult finding sufficiently thorough Dart examples at the right level. I've ended up looking at other languages. "Professor Frisby" is good. He has a free [book](https://git

[2021-03-07 14:49] modulovalue commented on #36
Hello @Praful
You shouldn't try to translate javascript code 1:1 into a language with a nice type system like Dart.
Using the type system to your advantage will be much more valuable than any functional programming pattern on top of untyped code ever could.

Sadly, I have to say that my advice for you would be to go as far away from javascript, or any other untyped language, as you can. There's a

[2021-03-08 09:52] spebbe commented on #36
Hi @Praful!

As @modulovalue mentioned, `nextCharForNumberStringImp` was already very close to pure to begin with and didn't need identity functors or anything like that to make it functional.

That example aside, if you want to map the text you are following to `dartz` constructs, `dartz` has `IdM`, which serves as an identity monad (and therefore also identity functor). It doesn't reify the iden

[2021-03-08 14:09] apiep commented on #36
I think what @Praful want to achive is making his own custom monad which is called `Box`. Not just "chainable" computation but rather putting a variable inside a "context" which can be computed inside those context.

Which I understand it is quite hard to achive / understand with using dartz.

For me I can not understand how to translate this scala code into dartz at the moment.
[code]

so then I

[2021-03-10 19:17] Praful commented on #36
Thanks @modulovalue for your updated example. You probably know that the type declarations are optional because Dart works out the types and, if it doesn't, it will let you know :) I also learnt that the `int?` is optional since Dart can see you checked for null before using the value. Clever!

@spebbe - thanks for the two examples. The code I posted is from the first lesson in the tutorial - so d

[2021-03-10 23:04] Praful commented on #36
My Box class was just a way of following the tutorial (i.e. not to be critiqued:)) because my assumption/hope was that a functional library would have what Box represented or that I could create a custom monad as @apiep suggested. But thank you for providing a typed version.

I was not aware of that. Adding those options produced interesting results in some code I had :)

[2021-03-18 15:14] Torone opened #76 "Fixing subtype errors"
I'm new to Flutter and also on Dartz package but I cannot find any solution online that would answer my question...

What I did is not rocket science, I'm just testing a very simple endpoint that return `{ message: 'success' }` and what I did so far is the following:

[code]
And
[code]

Very simple and it also return the correct data when used.
The point is that I don't like to see errors and warn

[2021-03-18 16:45] dan-leech opened #77 "Cancelable task"
I'm a newbie in FP. FP seems very powerful but I cannot catch the idea yet...

I need to tie two repositories transactions which don't know nothing about each other.
I've found probably a strange way to do this:

[code]

I want to return a cancelable kind of task. That carries a possible result and can be rolled back from another task that this serves for.
Do you know any way how to do this in FP

[2021-03-19 07:40] spebbe commented on #76
Hi @Torone!

This doesn't look related to `dartz`. While I don't have access to all the type information, I believe you have multiple type errors in the code above. I would highly recommend using https://pub.dev/packages/pedantic, or better yet, https://pub.dev/packages/extra_pedantic. These packages provide good analyzer settings and should highlight unsafe type assumptions with at least `e` and

[2021-03-19 08:19] Torone commented on #76
Thanks for your reply and useful hint!

[2021-03-19 08:19] #76 closed

[2021-03-30 16:57] JAAvander commented on #70
I noticed a problem regarding the result types in various functions, such as returning from a call to `when`, or from a `fold`, when these are nullable.
A more elaborate example is this:
[code]

Maybe this use of folding wouldn't make much sense. That being said, it should be valid code, correct?
But the the dart analyzer would complain and say that `String? is not a subtype of Object`. Furthermor

[2021-03-31 09:14] moseskarunia commented on #70
Hi. Almost everything except from null extends from Object. I think that's to prevent nullable from being a Right value.

[2021-04-06 06:29] spebbe commented on #70
@JAAvander , @moseskarunia: Somewhat controversially so, `Left` and `Right` values _can_ actually carry `null` values when given nullable type arguments. The code above works fine for me on Dart 2.12.2. Are you maybe trying to use (assign, return, etc) the return value from `fold` in a non-nullable context? For example, `final Object o = potentialFailure.fold<String?>(...)` would be a type error,

[2021-04-06 10:01] spebbe commented on #70
@wondertalik, try changing `Right(tClient)` to `Right<Failure, Client>(tClient)`. I don't think it is possible for mockito's `thenAnswer` to correctly infer all types. Using `pedantic` or `extra_pedantic` should help flag cases where `dynamic` is inferred.

[2021-04-06 11:03] moseskarunia commented on #70
@wondertalik this kinda unrelated, but mockito kinda messed up with null-safety. Use mocktail instead.

[2021-04-06 13:40] wondertalik commented on #70
Thanks. It works.

[2021-04-25 22:15] mleonhard commented on #36
@spebbe I like the positive and understanding attitude you show in this issue.  It is in stark contrast to https://github.com/functionaljava/functionaljava/issues/394 .

I came here looking for a dart `Either` class.  The [`either_dart`](https://pub.dev/packages/either_dart) package is unmaintained but has some useful [documentation](https://pub.dev/documentation/either_dart/latest/either/Either-c

[2021-04-29 17:03] ibcoleman commented on #47
I've been playing with EvaluationMonad over time, and really finding it cleans things up considerably. Based on your invaluable responses, I'm basically composing my functions that return Either or Future<Either> as follows:

[code]

One thing I haven't quite figured out is how to "add" error handling to an either. So in the case above, `String stringToJson(String jsonString)` can blow up during p

[2021-04-29 17:14] ibcoleman commented on #36
@mleonhard

I could be wrong, but I think you want leftMap:

[code]

I think the idiomatic way of (eventually) dealing with exceptions via Either would be using `fold()`:

[code]

Sorry if I misunderstood your question.

[2021-05-06 12:02] ibcoleman commented on #36
I've been kind of cross-referencing Manning's Functional Programming in Scala, and the (excellent) online documentation for the Kotlin Arrow (https://arrow-kt.com) library. Also, came across @spebbe on YouTube: https://www.youtube.com/watch?v=90jq6HAb2gw. Wish there was more of this, though!  :)

[2021-05-07 07:15] spebbe commented on #36
@ibcoleman Really glad you liked the video!

@mleonhard Thank you for your kind words and suggestions! The lack of `unwrap()` and `get()` operations on `Either` and `Option` is intentional, since they break referential transparency. The approaches described by @ibcoleman could be captured in simple extension methods in your own code or possibly in `dartz_unsafe`, but I would rather not put them in

[2021-05-21 12:17] najibghadri opened #79 "Is there a Try?"
Hello. Say I have a function () => A that might throw an error. Is there a monad/function that turns it into an Option. Afaik this is called Try. There is IOMonad and Free monad but I can't figure out they serve this purpose.

[2021-05-21 12:45] najibghadri commented on #79
Obviously I can make my own, but still, wondering what is the standard here.
[code]

[2021-05-21 14:18] ibcoleman commented on #79
@najibghadri The only thing I see like that is Either's catching function... but that's not quite it.

[2021-05-21 15:03] spebbe commented on #79
@najibghadri, the `catching` function that @ibcoleman mentions is probably the closest thing in `dartz` at the moment. It returns `Either` values, capturing any thrown exceptions as `Left` values, but if you want to discard any captured exception information you can always do
[code]

[2021-05-21 15:21] ibcoleman commented on #79
Ok, I can't hold back any longer...

![image](https://user-images.githubusercontent.com/1636877/119160818-a6821a80-ba26-11eb-99ff-5c0abf0ea4d6.png)

[2021-05-22 20:34] najibghadri commented on #79
This is it, lovely, thank you guys! 😊  🙏

[2021-05-22 20:34] #79 closed

[2021-05-22 20:46] najibghadri commented on #79
@ibcoleman And yes, I love the running joke.. There is no Try and that's it.

[2021-06-01 13:01] lukertaylor commented on #70
@moseskarunia, thank you for the tip about Mocktail - much cleaner without code generation 💯

[2021-06-07 23:18] domzinhuu commented on #70
magnific tip @moseskarunia,  worked like a charm!

[2021-06-29 08:58] LittleFireflies opened #80 "Testing with Either"
Hi, I'm currently working on a clean architecture project using Flutter.
I find dartz package is useful to bring either success or failure values.

But, i have issues when it comes to testing.

This is is my test case which won't passed:
[code]
Those test will return as follows:
[code]

But, somehow it passed when I put both value in the same variable.
[code]

I think it is because i create 2 diff

[2021-06-29 09:01] LittleFireflies commented on #80
I use equatable package, so two objects being compared by the value it holds on, instead of the instance. This code below will return true:
`expect(<Cast>[tCast], <Cast>[tCast]); // return true`

[2021-06-29 13:50] Babwenbiber commented on #80
I have the very same problem.
I wrote the simplest test you can have for that.
Furthermore, I am sure, that in Flutter 1 this would work.

[code]

output:

[code]

[2021-06-29 15:29] spebbe commented on #80
Hi @LittleFireflies and @Babwenbiber!

This looks like a duplicate of https://github.com/spebbe/dartz/issues/39 and https://github.com/spebbe/dartz/issues/45 . Basically, Dart `List` `==` doesn't check deep equality by default, but `expect` special treats "naked" `List`s.

`expect([1] == [1], true)` fails for the same reason.

See the linked tickets for some alternative solutions!

[2021-06-30 03:45] LittleFireflies commented on #80
Ok, well noted @spebbe. Thanks for answering. So it's because of the naked list.

I'm curious, is it possible to add `listEquals()` as the default comparison for List by default? Because I used to have this problem too when I still use `operator` and `hashcode` to compare object manually.

[2021-06-30 07:14] spebbe commented on #80
In the context of tests, it might be possible to write custom matchers that would check for deep list equality in more cases.

For general code, even if changing the semantics of `List` equality were possible, it would probably break a lot of existing libraries that depend on the `==` being roughly the same as `identical` for `List`s.

[2021-06-30 08:19] LittleFireflies commented on #80
Well then. I'll use `result.getOrElse()` as a workaround for now. Thanks for the answer. Considered it done and close it.

[2021-06-30 08:19] #80 closed

[2021-06-30 12:57] spebbe commented on #80
Cool! @LittleFireflies, if you haven't already seen it, the `|` operator is a shortcut for `getOrElse()`, so depending on your situation you might be able to just do `result|null` in your expectations.

[2021-07-07 08:47] eggnstone commented on #70
The dev preview has been out for 2 months now.
Please release it as an official version.

[2021-07-19 14:30] DanielCardonaRojas commented on #70
I also have package  called `verify` with a nullsafe-prerelease and dartz as a dependency, is there an estimate as to when this will become an official version?

[2021-07-22 11:42] guyluz11 opened #81 "Not passing Pass static analysis in pub.dev"
I presume that it will require small fix, just to run `dartfmt` each time with `GitHub Actions`

![image](https://user-images.githubusercontent.com/9304740/126633561-fdb5ea0b-80ff-4a7f-a865-2624a30b5904.png)

[2021-07-28 13:42] toshiossada opened #82 "When null-safety version will released?"
Currently the realesed vesion in pub.dev is 0.9.2 and the nullsafety version 0.10.0-nullsafety.2 is in pre-released?
When 0.10.0-nullsafety.2 will be released?

![image](https://user-images.githubusercontent.com/2637049/127332311-c6bc39c4-5052-49da-8f6b-1b41bad7fe9e.png)

[2021-08-11 11:04] newlifeappx commented on #82
Same question )

[2021-08-12 12:13] wferem1 commented on #82
Hi @spebbe,

Any update on when this stable release will be available?

[2021-08-13 11:41] spebbe commented on #70
Hi @eggnstone and @DanielCardonaRojas! Sorry for the long wait – a stable release `0.10.0` has now been published!

[2021-08-13 11:42] spebbe commented on #82
Hi @toshiossada, @newlifeappx and @wferem1! Sorry for the long wait – a stable release `0.10.0` has now been published!

[2021-08-13 11:54] #70 closed

[2021-08-13 11:54] #82 closed

[2021-08-13 12:06] spebbe commented on #81
Hi @guyluz11 – thanks for reporting! Some of the decisions `dartfmt` enforces subjectively make the code look uglier. I _do_ want those pub points though :) I'll try again and see if the situation has been improved or can be tweaked somehow.

[2021-08-13 12:16] toshiossada commented on #82
@spebbe thanks

[2021-08-13 13:19] spebbe commented on #77
Hi @dan-leech! Sorry for the late reply.

From your example, it looks like you _do_ want `result` to complete successfully even in a rollback scenario, which makes me a bit unsure of what semantics you need. Either way, below are some pretty general pointers that might be useful to you:

One thing to try is to model your domain objects using immutable data structures. `IMap`, `IList` and the other

[2021-09-10 09:15] KristianBalaj opened #83 "[Breaking change] Making TypeClasses a mixin instead of a class"
Let's have a class `A` that is a `Monoid`:

[code]

## Problem
Imagine for example that class `A` is a huge data class and I want to subclass it with `Equatable` to solve the equality logic for me. After that I can't make the class `A` to be a `Monoid`.
I could make `class A extends Equatable implements Monoid<A>` but after that I need to override 3 methods, the `appendC` that shouldn't be necessa

[2021-09-10 18:12] spebbe commented on #83
Hi @KristianBalaj!

Interesting proposal! Could you give an example of what kind of code you would want to be able to write? I'm not sure I understand what you are looking for... Using the methods on `Monoid` as instance methods on custom types would probably be a bit awkward:
[code]

The API for `Monoid` is designed for "standalone" use ("type X _forms_ a monoid" rather than "type X _is_ a monoid

[2021-09-10 18:50] spebbe commented on #75
Apologies for not getting back to you earlier @SandroMaglione!
I haven't had much time for working on `dartz` recently and I somehow missed this ticket...
Thanks for your kind words – `fpdart` looks absolutely amazing too!

As for roadmap, there really isn't a concrete one. Improving the very poor state of documentation is something that a lot of users have requested. I of course also want to keep

[2021-09-12 11:04] KristianBalaj commented on #83
## Example
Well a simple example would be having a class `BankAccount` that has fields like balance, transactions, etc.
Inheriting `BankAccount` from any other class makes sense, e.g. `Equatable`.

Making the `BankAccount` a monoid makes sense here, where the `append` has semantics of `BankAccount` merge for example.

And let's take an example where I want to compose a general function taking `Lis

[2021-09-26 18:08] Heermod opened #84 "Empty IVector and IHashMap does not store values"
`IHashMap<String, String> hashmap = IHashMap.empty();`
`hashmap.put('bar', 'foo');`
`print(hashmap.get('bar')); //None`

`IHashMap<String, String> hashmap = IHashMap.from({'bar': 'foo'});`
 ` hashmap.put('bar', 'baz');`
  `print(hashmap.get('bar')); //Some(foo)`
How can I set a value?

[2021-09-27 07:11] spebbe commented on #84
Hi @Heermod! All collections in `dartz` are immutable – that's what's so great about them!
In your example above, `hashmap.put` returns a new instance of `IHashMap`, containing the new mapping while leaving `hashmap` unmodified.
If you want mutable collections, you might be happier sticking with the built-in Dart `List`, `Map`, `Set`, etc.

Hope that helped!

[2021-09-27 12:44] #84 closed

[2021-10-07 21:19] ahuruFoundation opened #85 "How to use get left object from Either?"
Hi, Im quite new to darz. Is there a way to just get the left object of Either?

For example, Im returning Either<Failure, Type> from a method.
final result = method();
if (result.isLeft()) {
    //doesn't seem like there is a result.getLeft
}

thanks.

[2021-10-09 07:41] #85 closed, assigned to nobody

[2021-10-13 06:10] radoslawsobies opened #86 "getOrNull for Either"
it would be nice to have getOrNull in Either class, similar to getOrdElse

[2021-10-15 04:16] linxydmhg opened #87 "Combine multiple Options for reducing nested code"
. (Note, this is not really an issue, more of a question)
Hello, so I have been using this library rather imperatively, rather than functionally because Im not too familiar with the concepts, but found good use for Option/Either.

However, I came upon some code that seemed rather unwieldy where I have multiple options that depend on other options and sometimes need to get a future to get the next

[2021-11-17 22:06] cranst0n opened #89 "Add Tuple Functions"
I think it would be useful to add the following functions to the `TupleN` classes:

* head: Returns the first element of the tuple
* tail: Return all but the first elements
* init: Return all elements except the last element
* last: Returns the last element.

I've implemented these for few of them using extensions but can open a PR for all of them implemented directly in the class if you would be

[2021-11-18 15:01] ibcoleman opened #90 "Question About IList And Append"
Hi There,

Been finding Dartz invaluable in my Dart/Flutter project. I've been able to muddle through some of the more esoteric corners, but every once in a while I run into something I can't quite understand. For example, I'm trying to figure out how to append a single element to an IList.

I took a naive stab at it:
[code]

...then realized you need to append IList to IList (?), so tried:
[code]

[2021-11-18 16:48] ibcoleman commented on #87
Hi @linxydmhg!

I'm by no means an expert on any of this, but here's the way I've been approaching things. First, I think you want to use Either instead of Option, since you're basically trying to capture a multi-step validation process. Here's the code I came up with; I promise I'll try to come back and flesh out what's happening in detail.

[code]

[2021-11-18 18:02] ibcoleman commented on #87
Wanted to go into more detail here, because this is where things get confusing without some of the syntactic sugar other languages have.

get() lets you access the State.
ask() lets you access the Reader.
( Why get, vs ask? I do not know. :) )

[code]

[code]

[code]

We want the scope to include both, so we need to nest the binds:
[code]

[2021-11-19 17:10] spebbe commented on #89
Hi @cranst0n – sounds like a great addition that would bring us one step closer to https://github.com/milessabin/shapeless `HList`s! Your naming scheme looks good to me. Please open a PR if you are willing. Thank you!

[2021-11-19 17:31] spebbe commented on #90
Hi @ibcoleman!

`IList#appendElement` is probably the simplest way to achieve what you want. Please be aware that since `IList` is implemented as a singly linked cons list , appending is _O(n)_ and can become a performance problem on very large collections. Prepending to the beginning of an `IList`, using `IList#prependElement` or `cons` is however super efficient (_O(1)_). If you need to do a lot

[2021-11-19 20:29] cranst0n commented on #89
Great! I'll submit something in the next few days.

[2021-11-20 13:02] ibcoleman commented on #90
Thanks @spebbe! And thanks for the incredibly useful library, too!

[2021-11-22 15:39] cranst0n opened #92 "Task.pure"
I may be missing something, but should the `Task.pure` method be static? Is there a reason it's an instance member?

[2021-11-22 19:37] spebbe commented on #87
That was a really great intro to `Evaluation`, @ibcoleman – thank you!

[2021-11-22 22:30] ibcoleman commented on #87
Means a lot coming from you, @spebbe. Thanks.

[2021-11-25 15:39] yusufa445 opened #94 "Testing with Left data/class keep failing."
Hi, Dartz community,
I have another Issue when testing left data from either.

[code]

this is my repository code.

[code]

That test would be resulting in this error
**Expected: <Instance of 'ServerFailure'>
Actual: <Instance of 'ServerFailure'>**

  I've made sure that ServerFailure has come from the same file and class.

  Thanks.

[2021-11-26 10:43] spebbe commented on #94
Hi @yusufa445! Does `ServerFailure() == ServerFailure()` evaluate to `true`? That is, have you overridden `operator ==` to implement structural equality? If not, the behaviour you describe is expected, since Dart defaults to reference equality. You might want to try `expect(l is ServerFailure, true);` or something similar instead?

Good luck!

[2021-11-26 15:47] spebbe commented on #92
Ah, good question! Previously, `ApplicativeOps` was mixed in rather than just implemented (in `Task` via `MonadCatchOps` and `MonadOps`). `pure` could then be used for deriving default implementations of `map` and so on. Now, the `pure` on `Task` and other types just look weird :) Should probably be removed, unless you think static versions of them would make sense?

[2021-11-27 02:56] cranst0n commented on #92
Ah okay. That makes sense. Removing it would be a breaking change so your call, but I think having a method to lift a value into `Task` makes sense. If you look at PR #93, I added a `Task.value` which accomplishes the same thing.

[2021-12-03 17:36] #94 closed

[2021-12-03 17:36] #90 closed

[2021-12-03 17:37] spebbe commented on #89
Merged and released in 0.10.1 – Thanks again!

[2021-12-03 17:37] #89 closed

[2021-12-03 17:37] #87 closed

[2021-12-03 17:38] spebbe commented on #92
Merged #93 and released in 0.10.1 – Thanks again!

[2021-12-03 17:38] #92 closed

[2021-12-14 23:46] tim-smart commented on #75
Been using `dartz` and also `fpdart` for a while now, thanks for the work guys!

One think that has always bugged me a little, is that the functions are all attached to classes rather than being functions all the way down. I guess the main reason for this, is that creating a `pipe` function that is nice to use isn't really possible!

Been playing with an idea using extensions to work around this:

[2022-01-04 18:48] cranst0n opened #95 "Task Retry"
I cooked up a retry mechanism, similar to [cats-retry](https://github.com/cb372/cats-retry), for `Task`. This may belong in a separate library, but I won't have time to make this PR worthy for a while, so I figured I throw it in a [gist](https://gist.github.com/cranst0n/a8d3a83d5be0f1d7dd1aaa9a399cfd8c) in case it's helpful for anyone.

It's likely I'll be revisiting this in the coming weeks/month

[2022-01-08 21:45] cindRoberta opened #96 "[Doubt] where was declared and implemented the functions ifRight and ifLeft?"
where was declared and implemented the functions `ifRight` and `ifLeft`?

[2022-01-12 07:33] spebbe commented on #95
This looks amazing! I've toyed with it a bit and I think it could be a valuable addition either as a separate library or part of the core. Not sure which way is more appropriate? Great work!

[2022-01-12 07:39] spebbe commented on #96
Hi @cindRoberta!

I'm afraid I don't really understand your question. In case you are referring to the named arguments `ifLeft` and `ifRight` to `Either#fold` then those are just names of function arguments that callers are supposed to supply.

Please supply more context if you are asking for something else!

[2022-01-19 09:20] akbarpulatov opened #100 "Why Right([1]) == Right([1]) is false"
Why `Right([1]) == Right([1])` is `false` ?

[2022-01-20 08:04] spebbe commented on #100
Hi @akbarpulatov!
It is because `[1] == [1]` is `false` in Dart. This is a behaviour of Dart `List`s in general and not specific to `dartz`. See #80, #45 and #39 for longer explanations.

[2022-01-21 12:28] akbarpulatov commented on #80
Thank you for your response. Closing this issue with this link then: https://stackoverflow.com/questions/10404516/how-can-i-compare-lists-for-equality-in-dart

[2022-01-21 12:28] akbarpulatov commented on #100
Thank you for your response. Closing this issue with this link then: https://stackoverflow.com/questions/10404516/how-can-i-compare-lists-for-equality-in-dart

[2022-01-21 12:28] #100 closed

[2022-01-24 10:52] sugukung commented on #34
@POST("apiPrefix")
  Future<LoginModel> initLoginApi(@Body() Map<String , dynamic> field);

[2022-01-26 13:38] ace-99 opened #101 "Questions regarding dart async and Monads"
Hello - appreciate the library. I have experience in Haskell and with Kotlin + Arrow and this helps feel right at home learning this new language.

Two questions if you have the time.
1. How do you best use async functions with monads?
[code]
   This won't work and I know its because the type signature doesn't match for `State` but how can it be made to  match? Lifting? Monad transformer with `Fut

[2022-01-27 21:28] cranst0n opened #102 "IList API"
It would be nice to add a few more convenience functions to `IList`. This issue is kind of a running log of what I've come up against. I'm happy to work on these in the near future.

* [ ] int count(bool Function(A a)) // returns a count of elements that pass the given predicate
* [ ] Option<A> lift(int ix) // returns the element at the given index (if the index exists)
* [ ] List<A> padTo(int len

[2022-01-27 21:31] spebbe commented on #101
Hi @ace-99 – glad to hear you find `dartz` useful!

While `dartz` includes a `StateT` monad transformer that can be used to achieve a `State`+`Future` effect stack, it currently won't yield a fully type safe solution and is a bit messy to use. I would instead recommend using `Evaluation`, which provides an `Either`+`Reader`+`Writer`+`State`+`Future` effect stack while retaining full type and stack

[2022-01-28 14:53] ace-99 commented on #101
Thanks for the reply! I'll give the evaluation a try, would be a great exercise and take care of a few hurtles at once.

[2022-01-28 14:53] #101 closed

[2022-01-31 01:02] tim-smart commented on #75
Used this in a few projects and I'm really liking this pattern.

I found that it pushes me towards composability - creating small re-usable functions.

[2022-02-05 15:27] cindRoberta commented on #96
[code]
is a syntax sugar for:
[code]

[2022-02-05 15:27] #96 closed

[2022-03-25 23:19] docputs commented on #86
@cranst0n i think that @radoslawsobies didnt mean to have it as a getter, but instead to be able to call it with `.getOrNull()`, am I right?
in case I'm right, I'd like to open a pr for that since this is my first time contributing to some project :)

[2022-03-25 23:32] docputs opened #103 "Add flatMapAsync for Either class"
Sometimes I want to run asynchronous operations inside a `.flatMap` call. For that I'd suggest adding a `.flatMapAsync()` method to be able to call `await` inside the callback function.

I already implemented it in a project I'm working on, so I could open a pr for it as well :)

[2022-03-28 11:22] spebbe commented on #103
Hi @docputs!

Thanks for the suggestion – I agree that something like this would be useful!
Currently, you can use `anEitherValue.traverseFuture(asyncComputationEvaluatingToEither).flatMap(id)` for this. Adding a `traverseFutureM` method to `Either`, would get rid of the `.flatMap(id)` and would then behave like your proposed `flatMapAsync`. It would also preserve existing naming conventions (like

[2022-04-15 21:20] otto-dev opened #104 "biFlatMap for Either"
Proposed function signature:
[code]
### Example use case:

For example, `remoteLogin(String user, String password)` may return either a network error (`Left`) or a response (`Right`). But if there is a response, the login may still be invalid. So I want to `biFlatMap` the `Either`. In `biFlatMap`, if there is a network error, I want to normalize it. If there is a response, I want it to become a `L

[2022-04-15 21:29] otto-dev commented on #104
It's just `fold` lol

[2022-04-15 21:29] #104 closed

[2022-04-15 21:49] otto-dev opened #105 "Add catchingAsync for Either"
Like `catching`, but for `async` function bodies.

Implementation:

[code]

Usage:

[code]

[2022-04-16 04:04] otto-dev opened #107 "Value should be lazy in Option.when"
It is often the case that the value `A` in `Option.when` cannot be constructed if the predicate is false. Example:

[code]

That often defeats the purpose. We already have `option(predicate, value)` for a strict version. The `when` function signature should be
[code]

for cases where the value cannot be constructed if the predicate is `false`.

[2022-04-17 01:45] docputs commented on #103
I didnt get the part where you wrote `asyncComputationEvaluatingToEither`, because currently the `.traverseFuture` accepts a callback that returns `Future<R2>`. In my use case, I need to return a `Future<Either<L2, R2>>`

[2022-06-19 07:19] gerryau opened #110 "Why doesn't dartz work with non-lambda functions?"
I have been going through a refactoring stage of a code base and looking through a list of snippets like:

[code]

If I attempt to change the first lamda function: `(l) => left(l)` to: `left` the code breaks. There are no errors, but the code doesn't work.

Is someone able to explain this or tell me what I am missing here. Thank you.

[2022-06-23 13:13] cranst0n commented on #110
Best guess is the type inference, or lack thereof, is causing issues. Try adding this to your 'analysis_options.yaml` file if it's not already in there:

[code]

[2022-08-03 12:32] ihorkozar opened #112 "Async issue when using mаp()"
Unhandled Exception: 'package:bloc/src/emitter.dart': Failed assertion: '!_isCompleted'

emit was called after an event handler completed normally.
This is usually due to an unawaited future in an event handler.
Please make sure to await all asynchronous operations with event handlers
and use emit.isDone after asynchronous operations before calling emit() to
ensure the event handler has not comple

[2022-08-27 01:56] jibbers42 opened #113 "Enable github discussions?"
I'm not sure if enough people would participate to make it work out, but it might be nice to enable Discussions so there is a place to ask for advice without creating an issue.

[2022-09-28 21:42] fullflash commented on #85
there is no  value in dartz package

`result.value `

[2022-10-07 09:00] zellidev0 opened #114 "Comment indicates side effect in method where none exists"
In the `option.dart` file a comment suggests that the code below the comment has side effects.

`// PURISTS BEWARE: side effecty stuff below -- proceed with caution!`

One Method there is the `toNullable()` method.

It looks like that:
[code]

This method does not seem to create a side effect and therefore it should be above the stated comment to avoid confusion.

I would create a PR that moves th

[2022-10-26 16:42] SuperMuel commented on #80
I wrote a [package](https://pub.dev/packages/dartz_test) to simplify testing with dartz. It currently works for **Option**s and **Either**s.

**If your class overrides ==,** you can use the `isRightOf` (or `isLeftOf`) that checks whether the Either instance is actually a Right (or Left) instance containing the object you want :

[code]

**If your object does not overrides == :**
This is typically